
.asd{
    width:100%;
    height:100%;
}
.sta-h{
    width:100%;
    height:20px;
    line-height: 22px;
    position: relative;
    margin-top: 22px;
    span{
        position: absolute;
        top:0px;
        width: 20px;
        height: 22px; 
        background: url(../../images/home.png);
        background-size: 100% 100%;
    }
    .nav_bar{
        font-size: 16px;
        position: absolute;
        top:0;
        left:30px;
        color: #666;
        a{
            color: #666; 
        }
        .active{
           color: #f08300;  
        }
    }
}
.asd-c{
    padding:0 100px;
    width:1000px;
    margin-bottom: 120px;
    .c-h{
        width:100%;
        height: 243px;
        margin-bottom: 44px;
        li{
            float: left;
        }
        .asd-img{
            width: 427px;
            height: 243px;
            margin-right:20px;
            img{
                width:100%;
                height:100%;
            }
        }
        .asd-text{
            width:517px;
            font-size: 18px;
            line-height: 32px;
            color: #666666;
            margin-top: 20px;
            p{
                text-indent: 2em;
            }
        }
    }
    //ASD诊断标准.....
    .standard{
        font-size: 18px; 
        line-height: 32px;  
        color: #666666;
        h3{
            font-size: 28px;
            font-weight: bold;
            line-height: 38px;
        }
        .main{
            // font-size: 18px;
            text-indent: 2em;
            span{
                font-weight:bold;
            }
        }
        .A{
            margin-bottom: 40px;
            b{
                font-size: 24px;
                font-weight: bold;
            }
            p{
                text-indent: 2em;
                span{
                    font-weight:bold;  
                } 
            }
        }
    }
    //ASD严重程度分级.....
    .degree{
        font-size: 18px;
        line-height: 31px;
        color: #666666;
        h3{
            font-size: 28px;
            line-height: 38px;
            font-weight: bold;
        }
        .frist{
            margin-bottom:40px;
            h4{
                font-size: 24px;
                line-height: 38px;
                font-weight: bold;
            }
            .tit{
                font-weight: bold; 
            }
        }

    }
}
@media screen and (max-width: 1024px) {
    .asd{
        width:7.3rem;
        height:100%;
        margin:  0 auto;
    }
    .sta-h{
        height:.20rem;
        line-height: .20rem;
        margin-top: .2rem;
        span{
            width: .20rem;
            height: .22rem; 
            top:-.02rem;
        }
        .nav_bar{
            font-size: .18rem;
            line-height:.22rem;
            left:.30rem;
        }
    }
    .asd-c{
        padding:0;
        margin: 0 auto;
        width:7.1rem;
        margin-bottom: 1rem;
        .c-h{
            width:100%;
            height: 100%;
            margin-bottom: .14rem;
            li{
                float: left;
            }
            .asd-img{
                width: 4.27rem;
                height: 2.43rem;
                margin: .28rem 0 0 1.42rem;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .asd-text{
                width:7.1rem;
                height: 1.5rem;
                font-size: .18rem;
                line-height: .32rem;
                margin-top: .20rem;
                p{
                    text-indent: 2em;
                }
            }
        }
        //ASD诊断标准.....
        .standard{
            font-size: .18rem; 
            line-height: .32rem;  
            h3{
                font-size: .28rem;
                line-height: .34rem;
            }
            .A{
                margin-bottom: .1rem;
                b{
                    font-size: .24rem;
                }
                p{
                    text-indent: 2em;
                }
            }
        }
        //ASD严重程度分级.....
        .degree{
            font-size: .18rem; 
            line-height: .32rem; 
            h3{
                font-size: .28rem;
                line-height: .34rem;
            }
            .frist{
                margin-bottom:.1rem;
                h4{
                    font-size: .24rem;
                    line-height: .38rem;
                }
            }
    
        }
    }
}