.brand{
    width: 100%;
    height:100%;
    background: #fcf3ec;
    padding-bottom: 80px;
    .brand-h{
        width: 100%;
        height: 320px;
        background: url(../../images/aboutus/brand.png);
        position: relative;
        p{
            font-size: 60px;
            line-height: 60px;
            font-family: "华文中宋";
            position: absolute;
            top:230px;
            left: 100px;
        }  
    }
    .brand-text{
        width: 1000px;
        height: 580px;
        background: #fff;
        padding: 120px 100px 0;
        background: #fff;
        font-size: 18px;
        line-height: 36px;
        p{
            text-indent: 2em;
            margin-bottom: 40px;
        }   
    }
}
@media screen and (max-width: 1024px) {
  
    .brand{
        width: 100%;
        height:100%;
        .brand-c{
            height:10.06rem;
            padding: .28rem 0 .5rem;
            .brand-tit{
                font-size: .3rem;
                line-height:.3rem;
            }
            .brand-img{
                width: 4.60rem;
	            height: 2.50rem;
                margin: .29rem auto 0;
            }
            .brand-text{
                position: absolute;
                top:3.27rem;
                left:0;
                padding-top: .18rem;
                width: 100%;
                height: 5.43rem;
                background: url(../../img/brand-bg.png);
                background-size: 100% 100%;
                font-size: .20rem;
                line-height:.41rem;
                .brand-p{
                    width: 6.6rem;
                }
                p{
                    text-indent: 2em;
                }
    
            }
        }
    }
}