.campus{
    width: 100%;
    height: 100%;
    .campus-c{
        height:1838px;
        padding: 40px 0 120px;
        .campus-tit{
            font-size: 38px;
            line-height: 36px;
            color: #333333;
            text-align: center;
        }
        .campus2{
            margin-top: 57px;
            height:778px;
            padding-bottom: 90px;
        }
        .campus1{
            
            .ca1-h{
            height: 26px;
            border-left: 6px solid #f08300;
            font-size: 24px;
            line-height: 26px;
            color: #f5a94f;
            padding-left:10px;
            }
            .ca1-c{
                width:1160px;
                margin: 30px auto 0;
                overflow: hidden;
                .ca1-list{
                    width:1170px;
                    height: 522px;
                    li{
                        float: left;
                        margin: 0 10px 10px 0;
                        width: 380px;
                        height: 250px;
                        img{
                            width: 100%;
                            height: 100%;
                        }    
                    }
                }
                .ca1-text{
                    font-size: 20px;
                    line-height: 36px;
                    color: #666666;
                    margin-top:13px;
                    p{
                        text-indent: 2em;
                    }
                    .bottom{
                        margin-bottom: 9px;
                    }
                }
            }
        }
    }
}