.campus {
  width: 100%;
  height: 100%;
}
.campus .campus-c {
  height: 1808px;
  padding: 40px 0 120px;
}
.campus .campus-c .campus-tit {
  font-size: 38px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}
.campus .campus-c .campus2 {
  margin-top: 57px;
  height: 778px;
  padding-bottom: 90px;
}
.campus .campus-c .campus1 .ca1-h {
  height: 26px;
  border-left: 6px solid #f08300;
  font-size: 24px;
  line-height: 26px;
  color: #f5a94f;
  padding-left: 10px;
}
.campus .campus-c .campus1 .ca1-c {
  width: 1160px;
  margin: 30px auto 0;
  overflow: hidden;
}
.campus .campus-c .campus1 .ca1-c .ca1-list {
  width: 1170px;
  height: 522px;
}
.campus .campus-c .campus1 .ca1-c .ca1-list li {
  float: left;
  margin: 0 10px 10px 0;
  width: 380px;
  height: 250px;
}
.campus .campus-c .campus1 .ca1-c .ca1-list li img {
  width: 100%;
  height: 100%;
}
.campus .campus-c .campus1 .ca1-c .ca1-text {
  font-size: 20px;
  line-height: 36px;
  color: #666666;
  margin-top: 13px;
}
.campus .campus-c .campus1 .ca1-c .ca1-text p {
  text-indent: 2em;
}
.campus .campus-c .campus1 .ca1-c .ca1-text .bottom {
  margin-bottom: 9px;
}
@media screen and (max-width: 1024px) {
  .campus {
    width: 100%;
    height: 100%;
  }
  .campus .campus-c {
    height: 14.9rem;
    padding: .28rem 0 .5rem;
  }
  .campus .campus-c .campus-tit {
    font-size: .3rem;
    line-height: .3rem;
  }
  .campus .campus-c .campus2 {
    margin-top: .3rem;
    height: 7rem;
    padding-bottom: 0rem;
  }
  .campus .campus-c .campus1 .ca1-h {
    height: .24rem;
    border-left: 0.06rem solid #f08300;
    font-size: .22rem;
    line-height: .24rem;
    padding-left: .10rem;
  }
  .campus .campus-c .campus1 .ca1-c {
    width: 7.1rem;
    margin: .36rem auto 0;
    overflow: hidden;
  }
  .campus .campus-c .campus1 .ca1-c .ca1-list {
    width: 7.22rem;
    height: 3.36rem;
  }
  .campus .campus-c .campus1 .ca1-c .ca1-list li {
    float: left;
    margin: 0 .1rem .16rem 0;
    width: 2.30rem;
    height: 1.54rem;
  }
  .campus .campus-c .campus1 .ca1-c .ca1-list li img {
    width: 100%;
    height: 100%;
  }
  .campus .campus-c .campus1 .ca1-c .ca1-text {
    font-size: .18rem;
    line-height: .36rem;
    margin-top: .1rem;
  }
  .campus .campus-c .campus1 .ca1-c .ca1-text p {
    text-indent: 2em;
  }
  .campus .campus-c .campus1 .ca1-c .ca1-text .bottom {
    margin-bottom: 0;
  }
}
