
.company{
    width:100%;
    height:100%;
    background: #fcf3ec;
    padding-bottom: 80px;
    .com-h{
        width: 100%;
        height: 320px;
        position: relative;
        p{
            font-size: 60px;
            line-height: 60px;
            font-family: "华文中宋";
            position: absolute;
            top:230px;
            left: 100px;
        }
        .com-img{
            position: absolute;
            top:2px;
            right: 70px;
            width: 570px;
            height: 407px;
            background: url(../../images/aboutus/company.png);
        }
    }
    
    .com-text{
        width: 1000px;
        height: 580px;
        background: #fff;
        padding: 120px 100px 0;
        p{
            text-indent: 2em;
            font-size: 18px;
            line-height: 36px;
            margin-bottom: 40px;
            span{
                font-size: 20px;
            }
        }
    }
}



@media screen and (max-width: 1024px) {
    .course-header{
        display: none;
    }
    .company{
        width:100%;
        height:100%;
        .company-c{
            height: 10.20rem;
            width: 6.3rem;
            padding:.27rem .5rem .60rem;
            .com-tit{
                font-size: .30rem;
                line-height: .30rem;
            }
            .com-img{
                width: 4.60rem;
                height: 2.50rem;
                margin: .29rem auto .18rem;
                background: url(../../images/aboutus/company.png);
                background-size: 100% 100%;
            }
            .com-text{
                p{
                    text-indent: 2em;
                    font-size: .20rem;
                    line-height: .41rem;
                }
            }
        }
    }
}