.course-header {
  width: 100%;
  height: 48px;
  background: #f5a94f;
}
.course-header .h-content {
  width: 625px;
  height: 100%;
  margin: 0 auto;
}
.course-header .h-content a {
  float: left;
  height: 24px;
  border-left: 2px solid #fff;
  width: 138px;
  text-align: center;
  line-height: 24px;
  margin-top: 12px;
  padding-left: 16px;
  position: relative;
}
.course-header .h-content a:first-child {
  border-left: none;
}
.course-header .h-content a p {
  position: absolute;
  top: -5px;
  padding: 7px 21px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.course-header .h-content a .on3 {
  background-color: #f08300;
  border-radius: 16px;
}
.system1 {
  padding-top: 40px;
  height: 1200px;
  position: relative;
}
.system1 h3 {
  font-size: 38px;
  color: #333333;
  text-align: center;
  margin-bottom: 38px;
}
.system1 .more {
  position: absolute;
  bottom: 225px;
  left: 50%;
  margin-left: -101px;
}
.system1 .under {
  margin-top: 128px;
}
.on-under {
  width: 100%;
  height: 896px;
  padding-top: 40px;
  background: #fff6eb;
}
.on-under .o-h {
  width: 586px;
  height: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50px;
  border: solid 1px #999999;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: #666666;
}
.on-under .transform {
  width: 30px;
  height: 62px;
  background: url(../../images/transform.png);
  background-size: 100% 100%;
  margin: 10px auto;
}
.on-under .ou-h {
  width: 320px;
  height: 200px;
  border-radius: 95px;
  border: solid 1px #f8bba1;
  margin: 0 auto;
}
.on-under .ou-h p {
  padding: 47px 64px;
  background-color: #ef7649;
  border-radius: 95px;
  line-height: 190px;
  text-align: center;
  margin: 5px;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  color: #ffffff;
}
.on-under .u-h {
  width: 370px;
  height: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50px;
  border: solid 1px #999999;
  text-align: center;
  margin: 0 auto 70px;
  font-size: 24px;
  color: #666666;
}
.on-under .ou-list {
  width: 100%;
  height: 212px;
}
.on-under .ou-list li {
  float: left;
  margin-left: 30px;
  background: #fff;
  width: 277px;
  height: 212px;
  position: relative;
}
.on-under .ou-list li:first-child {
  margin-left: 0;
}
.on-under .ou-list li .number {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #bfd641;
  border-radius: 50%;
  font-size: 38px;
  line-height: 60px;
  text-align: center;
  color: #96ab22;
  position: absolute;
  top: -30px;
  left: -10px;
}
.on-under .ou-list li .u-img {
  width: 64px;
  height: 64px;
  margin: 27px auto 15px;
  position: relative;
}
.on-under .ou-list li .u-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.on-under .ou-list li .u-text {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #999999;
}
.under-course {
  height: 2436px;
  width: 100%;
  background: #fff;
  padding-top: 24px;
}
.under-course .under-list {
  width: 1000px;
  height: 100%;
  padding: 0 100px;
}
.under-course .under-list .u-title {
  font-size: 38px;
  line-height: 59px;
  color: #333333;
  text-align: center;
}
.under-course .under-list .u-title2 {
  margin-top: 13px;
  font-size: 20px;
  line-height: 37px;
  color: #666666;
  text-align: center;
  margin-bottom: 40px;
}
.under-course .under-list li {
  width: 100%;
  height: 260px;
  margin-bottom: 10px;
  position: relative;
}
.under-course .under-list li .z-index {
  position: absolute;
  z-index: 1000;
}
.under-course .under-list li .u-left {
  position: absolute;
  top: 0;
  left: 0;
}
.under-course .under-list li .u-right {
  position: absolute;
  top: 0;
  right: 0;
}
.under-course .under-list li .left {
  width: 376px;
  height: 100%;
}
.under-course .under-list li .left img {
  width: 100%;
  height: 100%;
}
.under-course .under-list li .right {
  position: absolute;
  width: 529px;
  height: 258px;
  padding: 0 47px;
  border-radius: 0px 120px 120px 0px;
  border: solid 1px #f09934;
  border-left: none;
  color: #f09934;
}
.under-course .under-list li .right .tit {
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  margin: 38px auto 15px;
}
.under-course .under-list li .right p {
  text-indent: 2em;
  line-height: 28px;
}
.under-course .under-list li .right .txt {
  font-size: 16px;
}
.under-course .under-list li .right .txt2 {
  margin-top: 10px;
  font-size: 19px;
  font-weight: bold;
}
.under-course .under-list li .right2 {
  border-radius: 120px 0px 0px 120px;
}
.under-course .under-list li .color {
  color: #b1cd1b;
  border: solid 1px #b1cd1b;
  border-right: none;
}
.under-course .under-list li .color2 {
  color: #ee52a8;
  border: solid 1px #ee52a8;
  border-left: none;
}
.under-course .under-list li .color3 {
  border: solid 1px #577ce5;
  color: #577ce5;
  border-right: none;
}
.under-course .under-list li .color4 {
  border: solid 1px #c374f1;
  color: #c374f1;
  border-left: none;
}
.under-course .under-list li .color5 {
  color: #ea5661;
  border: solid 1px #ea5661;
  border-right: none;
}
.under-course .under-list li .color6 {
  color: #3fbee4;
  border: solid 1px #3fbee4;
  border-left: none;
}
.under-course .under-list li .color7 {
  color: #ef7649;
  border: solid 1px #ef7649;
  border-right: none;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: .1rem;
    opacity: 0;
  }
  .content {
    width: 7.3rem;
    height: 100%;
    margin: 0 auto;
  }
  .course-header {
    display: none;
  }
  .system1 {
    padding-top: .18rem;
    height: 10.24rem;
  }
  .system1 h3 {
    font-size: .3rem;
    line-height: .3rem;
    margin-bottom: .2rem;
  }
  .system1 .more {
    width: 1.72rem;
    height: .40rem;
    line-height: .43rem;
    bottom: 2.05rem;
    margin-left: -0.86rem;
  }
  .system1 .under {
    margin-top: .87rem;
  }
  .on-under {
    height: 10.32rem;
    padding-top: .21rem;
  }
  .on-under .o-h {
    width: 4.95rem;
    height: .84rem;
    line-height: .84rem;
    border-radius: .42rem;
    border: solid 1px #999999;
    font-size: .22rem;
  }
  .on-under .transform {
    width: .25rem;
    height: .48rem;
    margin: .10rem auto;
  }
  .on-under .ou-h {
    width: 2.41rem;
    height: 1.51rem;
    border-radius: .75rem;
    border: solid 1px #f8bba1;
  }
  .on-under .ou-h p {
    padding: .264rem .4rem;
    border-radius: .75rem;
    line-height: .46rem;
    margin: .03rem;
    font-size: .3rem;
  }
  .on-under .u-h {
    width: 2.93rem;
    height: .79rem;
    line-height: .79rem;
    border-radius: .42rem;
    border: solid 1px #999999;
    margin: 0 auto .08rem;
    font-size: .22rem;
  }
  .on-under .ou-list {
    width: 5.88rem;
    height: 4.77rem;
    margin: 0 auto;
  }
  .on-under .ou-list li {
    margin-left: .30rem;
    margin-top: .52rem;
    width: 2.78rem;
    height: 2.12rem;
  }
  .on-under .ou-list li .number {
    width: .60rem;
    height: .60rem;
    font-size: .38rem;
    line-height: .60rem;
    top: -0.3rem;
    left: -0.1rem;
  }
  .on-under .ou-list li .u-img {
    width: .64rem;
    height: .64rem;
    margin: .27rem auto .15rem;
  }
  .on-under .ou-list li .u-text {
    font-size: .20rem;
    line-height: .30rem;
  }
  .on-under .ou-list .m-l {
    margin-left: 0;
  }
  .under-course {
    height: 18.15rem;
    width: 100%;
    padding-top: .19rem;
  }
  .under-course .under-list {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .under-course .under-list .u-title {
    font-size: .3rem;
    line-height: .56rem;
  }
  .under-course .under-list .u-title2 {
    margin-top: 0;
    font-size: .18rem;
    line-height: .24rem;
    margin-bottom: .16rem;
  }
  .under-course .under-list li {
    height: 1.91rem;
    margin-bottom: .1rem;
  }
  .under-course .under-list li .left {
    width: 2.77rem;
  }
  .under-course .under-list li .right {
    width: 4.2rem;
    height: 1.87rem;
    padding: 0 .14rem 0 .18rem;
    border-radius: 0px 1.20rem 1.20rem 0px;
    border: solid .02rem #f09934;
    border-left: none;
  }
  .under-course .under-list li .right .tit {
    font-size: .22rem;
    line-height: .29rem;
    margin: .17rem auto 0.05rem;
  }
  .under-course .under-list li .right p {
    text-indent: 2em;
    line-height: .2rem;
  }
  .under-course .under-list li .right .txt {
    font-size: .14rem;
  }
  .under-course .under-list li .right .txt2 {
    margin-top: .06rem;
    font-size: .15rem;
  }
  .under-course .under-list li .right2 {
    border-radius: 1.20rem 0px 0px 1.20rem;
  }
  .under-course .under-list li .color {
    border: solid .02rem #b1cd1b;
  }
  .under-course .under-list li .color2 {
    border: solid .02rem #ee52a8;
  }
  .under-course .under-list li .color3 {
    border: solid .02rem #577ce5;
  }
  .under-course .under-list li .color4 {
    border: solid .02rem #c374f1;
  }
  .under-course .under-list li .color5 {
    border: solid .02rem #ea5661;
  }
  .under-course .under-list li .color6 {
    border: solid .02rem #3fbee4;
  }
  .under-course .under-list li .color7 {
    border: solid .02rem #ef7649;
  }
}
