.course-header {
  width: 100%;
  height: 40px;
  background: #ef8201;
}
.course-header .h-content {
  width: 970px;
  height: 100%;
  margin: 0 auto;
}
.course-header .h-content li {
  float: left;
  height: 50px;
  width: 120px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
.course-header .h-content li a {
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.course-header .h-content .on3 {
  background: #fda855;
  position: relative;
  z-index: 1000;
}
.course-header .h-content .on3 span {
  width: 24px;
  height: 12px;
  background: url(../../images/aboutus/xl.png);
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -12px;
}
.course-header .n-content {
  width: 760px;
}
.course-header .n-content li {
  margin-left: 60px;
}
.course-header .n-content li:first-child {
  margin-left: 0;
}
.c-banner {
  width: 100%;
  height: 480px;
  background: #eee;
}
.emerge-tit {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  text-align: center;
}
.emerge-tit span {
  font-family: Arial;
}
.emerge {
  width: 100%;
  height: 923px;
  padding-top: 77px;
  background: #f5f5fc;
}
.emerge .emerge-list {
  width: 100%;
  height: 600px;
  margin: 30px auto 12px;
}
.emerge .emerge-list li {
  float: left;
  height: 200px;
}
.emerge .emerge-list li .e-right {
  width: 100%;
  height: 100%;
  background: #f05924;
  position: relative;
  cursor: pointer;
}
.emerge .emerge-list li .e-right .e-text {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  width: 170px;
  position: absolute;
  right: 18px;
  top: 55px;
  text-align: center;
}
.emerge .emerge-list li .e-right .e-text span {
  font-size: 48px;
}
.emerge .emerge-list li .e-right .e-text p {
  font-size: 21px;
}
.emerge .emerge-list li .e-right .e-left {
  position: absolute;
  top: 0;
}
.emerge .emerge-list .e1 {
  width: 570px;
}
.emerge .emerge-list .e1 .e-left {
  width: 370px;
  height: 100%;
  background: url(../../images/course/das-1.png);
  left: 0px;
}
.emerge .emerge-list .e1 .e-right:hover .e-left {
  background: url(../../images/course/das-4.png);
}
.emerge .emerge-list .e2 {
  width: 630px;
}
.emerge .emerge-list .e2 .e-left {
  width: 430px;
  height: 100%;
  background: url(../../images/course/das-2.png);
  left: 0px;
}
.emerge .emerge-list .e2 .e-right:hover .e-left {
  background: url(../../images/course/das-4.png);
}
.emerge .emerge-list .e3 {
  width: 630px;
}
.emerge .emerge-list .e3 .e-left {
  width: 430px;
  height: 100%;
  background: url(../../images/course/das-3.png);
  right: 0;
}
.emerge .emerge-list .e3 .e-right:hover .e-left {
  background: url(../../images/course/das-4.png);
}
.emerge .emerge-list .e3 .e-text {
  left: 18px;
  margin-top: 25px;
}
.emerge .emerge-list .e4 {
  width: 570px;
}
.emerge .emerge-list .e4 .e-left {
  width: 370px;
  height: 100%;
  background: url(../../images/course/das-4.png);
  right: 0;
}
.emerge .emerge-list .e4 .e-right:hover .e-left {
  background: url(../../images/course/das-4.png);
}
.emerge .emerge-list .e4 .e-text {
  left: 18px;
}
.emerge .emerge-list .e5 {
  width: 570px;
}
.emerge .emerge-list .e5 .e-left {
  width: 370px;
  height: 100%;
  background: url(../../images/course/das-5.png);
  left: 0px;
}
.emerge .emerge-list .e5 .e-right:hover .e-left {
  background: url(../../images/course/das-4.png);
}
.emerge .emerge-list .e5 .e-text {
  margin-top: 25px;
}
.emerge .emerge-list .e6 {
  width: 630px;
}
.emerge .emerge-list .e6 .e-left {
  width: 430px;
  height: 100%;
  background: url(../../images/course/das-6.png);
  left: 0px;
}
.emerge .emerge-list .e6 .e-right:hover .e-left {
  background: url(../../images/course/das-4.png);
}
.emerge .emerge-list .e6 .e-text {
  margin-top: 25px;
}
.emerge .emerge-text {
  font-size: 24px;
  line-height: 44px;
  color: #ffffff;
  padding: 13px 50px;
  background: #3196de;
}
.theory {
  width: 100%;
  height: 3423px;
  padding-top: 75px;
}
.theory .theory-c {
  width: 1083px;
  height: 719px;
  background: url(../../images/course/ts-1.png);
  margin: 120px auto 0;
  position: relative;
}
.theory .theory-c div,
.theory .theory-c ul {
  position: absolute;
}
.theory .theory-c .t1 {
  width: 318px;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
  top: -29px;
  left: 45px;
}
.theory .theory-c .t1 span {
  font-family: Arial;
}
.theory .theory-c .t1 b {
  font-size: 48px;
}
.theory .theory-c .t2 {
  top: 107px;
  left: 355px;
}
.theory .theory-c .t2 li {
  float: left;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-right: 6px;
  color: #ffffff;
}
.theory .theory-c .t2 li span {
  font-family: Arial;
}
.theory .theory-c .t3 {
  top: 60px;
  right: 48px;
  text-align: center;
}
.theory .theory-c .t3 h3 {
  font-size: 30px;
  line-height: 30px;
  color: #00b7e8;
}
.theory .theory-c .t3 h4 {
  font-size: 24px;
  line-height: 36px;
  color: #00b7e8;
}
.theory .theory-c .t3 p {
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.theory .theory-c .t4 {
  width: 355px;
  top: 295px;
  left: 73px;
}
.theory .theory-c .t4 li {
  font-size: 18px;
  color: #000000;
}
.theory .theory-c .t4 li:first-child {
  width: 315px;
}
.theory .theory-c .t4 li p {
  font-size: 30px;
  line-height: 30px;
  color: #ef8200;
  margin: 30px 0 8px;
}
.theory .theory-c .t4 li p span {
  font-family: Arial;
  color: #000000;
}
.theory .theory-c .t5 {
  top: 350px;
  left: 600px;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}
.theory .theory-c .t6 {
  top: 510px;
  right: 92px;
}
.theory .theory-c .t6 p {
  line-height: 70px;
}
.theory .motive {
  width: 100%;
  height: 380px;
  background: #f5f5fc;
  margin-top: 95px;
}
.theory .motive .m-left {
  width: 300px;
  height: 100%;
}
.theory .motive .m-left img {
  width: 100%;
  height: 100%;
}
.theory .motive .m-right h3 {
  font-size: 24px;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 17px;
}
.theory .motive .m-right p {
  font-size: 18px;
  padding-left: 10px;
}
.theory .motive .m-right p span {
  font-size: 30px;
}
.theory .motive .m-right .m-img {
  width: 900px;
  height: 311px;
  margin-top: -6px;
}
.theory .motive .m-right .m-img img {
  width: 100%;
  height: 100%;
}
.theory .intellect {
  width: 100%;
  height: 380px;
  background: #f5f5fc;
  margin-top: 113px;
}
.theory .intellect .i-left {
  width: 300px;
  height: 100%;
}
.theory .intellect .i-left img {
  width: 100%;
  height: 100%;
}
.theory .intellect .i-right p {
  font-size: 24px;
  padding-left: 68px;
  margin-top: 30px;
}
.theory .intellect .i-right p span {
  font-size: 48px;
}
.theory .intellect .i-right .i-list {
  width: 900px;
  height: 280px;
  margin-top: 15px;
}
.theory .intellect .i-right .i-list li {
  float: left;
  width: 225px;
  height: 140px;
  text-align: center;
}
.theory .intellect .i-right .i-list li .i-img {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 8px auto 6px;
}
.theory .intellect .i-right .i-list li .i-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.theory .intellect .i-right .i-list li .chinese {
  font-size: 24px;
}
.theory .intellect .i-right .i-list li .english {
  font-size: 18px;
}
.theory .intellect .i-right .i-list .red {
  background: #ed655f;
}
.theory .intellect .i-right .i-list .purple {
  background: #aa99ff;
}
.theory .intellect .i-right .i-list .blue {
  background: #81d4ef;
}
.theory .skill {
  width: 100%;
  height: 380px;
  background: #f5f5fc;
}
.theory .skill .s-list {
  width: 711px;
  height: 175px;
  overflow: hidden;
  margin: 70px 0 0 100px;
}
.theory .skill .s-list ul {
  width: 752px;
  height: 100%;
}
.theory .skill .s-list ul li {
  width: 147px;
  height: 62px;
  margin: 0 41px 50px 0;
  float: left;
}
.theory .skill .s-list ul li div {
  float: left;
}
.theory .skill .s-list ul li .s-text {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 108px;
}
.theory .skill .s-list ul li .s-text span {
  font-size: 18px;
}
.theory .skill .s-list ul li .s-img {
  width: 38px;
  height: 60px;
  background: url(../../images/course/ts-13.png);
}
.theory .way {
  width: 100%;
  height: 850px;
  background: #f5f5fc;
  margin-top: 109px;
}
.theory .way .w-left p {
  width: 840px;
  font-size: 24px;
  margin: 22px 0 0 25px;
}
.theory .way .w-left p span {
  font-size: 36px;
}
.theory .way .w-left .w-list {
  width: 817px;
  height: 100%;
  overflow: hidden;
  margin: 10px 0 0 62px;
}
.theory .way .w-left .w-list ul {
  width: 934px;
}
.theory .way .w-left .w-list ul li {
  width: 350px;
  height: 250px;
  margin-right: 117px;
  float: left;
  text-align: center;
}
.theory .way .w-left .w-list ul li .w-img {
  width: 130px;
  height: 154px;
  position: relative;
  margin: 5px auto 10px;
}
.theory .way .w-left .w-list ul li .w-img img {
  position: absolute;
  top: 0;
  left: 0;
}
.theory .way .w-left .w-list ul li .w-tit {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}
.theory .way .w-left .w-list ul li .w-txt {
  width: 100%;
  font-size: 18px;
}
.peculiarity {
  width: 100%;
  height: 875px;
  background: #f5f5fc;
  padding-top: 75px;
}
.peculiarity .pec-c {
  width: 660px;
  height: 660px;
  background: url(../../images/course/ts-15.png);
  margin: 60px auto 0;
  position: relative;
}
.peculiarity .pec-c .public {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #f5f5fc;
  height: 106px;
  padding-top: 8px;
  position: absolute;
}
.peculiarity .pec-c .public p {
  font-size: 36px;
  line-height: 42px;
}
.peculiarity .pec-c .system {
  top: 112px;
  left: -60px;
}
.peculiarity .pec-c .entire {
  top: 29px;
  right: -38px;
  padding-left: 100px;
}
.peculiarity .pec-c .effective {
  height: 135px;
  bottom: 47px;
  right: -80px;
}
.peculiarity .pec-c ul {
  width: 505px;
  position: absolute;
  top: 270px;
  left: 100px;
}
.peculiarity .pec-c ul li {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  float: left;
  margin: 0 50px;
}
.peculiarity .pec-c ul li span {
  font-family: Arial;
}
.fruit {
  width: 100%;
  height: 1056px;
  padding-top: 74px;
  background: url(../../images/course/ts-17.png);
  position: relative;
}
.fruit .emerge-tit {
  color: #fff;
}
.fruit .fruit-txt {
  width: 376px;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 110px 0 0 118px;
}
.fruit .fruit-txt p {
  font-size: 30px;
}
.fruit .histogram {
  width: 966px;
  height: 732px;
  background: url(../../images/course/ts-16.png);
  margin: 0 auto;
  bottom: 70px;
  left: 50%;
  margin-left: -483px;
  position: absolute;
}
.explain {
  width: 100%;
  height: 160px;
  padding-top: 35px;
  background: #5544f2;
}
.explain .explain-list {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.explain .explain-list ul {
  width: 1260px;
}
.explain .explain-list li {
  width: 360px;
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  float: left;
  margin-right: 60px;
}
.explain .explain-list li p {
  font-size: 30px;
  margin-bottom: 6px;
}
