.don-content {
  width: 100%;
  margin-bottom: 200px;
  background: #fff;
  border-top: 1px solid #e94f65;
}
.don-content .tab2 {
  width: 520px;
  margin: 10px auto 0;
  position: relative;
}
.don-content .tab2 li {
  float: left;
  padding: 10px 50px;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.don-content .tab2 .tab_on {
  box-shadow: 1px 1px 0px 0px 
                #e94f65;
  border-radius: 19px;
  border: solid 1px #e94f65;
  color: #e94f65;
}
.don-content .tab2 p {
  width: 2px;
  height: 26px;
  background-color: #e71f19;
  position: absolute;
  top: 10px;
}
.don-content .tab2 .f1 {
  left: 264px;
}
.don-content .tab2 .w2 {
  margin: 0 50px;
  text-align: center;
}
.don-content .content1 {
  width: 1000px;
  height: 100%;
  margin: 45px auto 0;
}
.don-content .content1 .c1 {
  display: none;
}
.don-content .content1 .c1 .entry1 {
  width: 100%;
  height: 600px;
  margin-top: 45px;
}
.don-content .content1 .c1 .entry1 td {
  font-size: 14px;
}
.don-content .content1 .c1 .entry1 .blod td {
  font-weight: bold;
  font-size: 18px;
}
.don-content .content1 .c1 .entry1 .theader {
  line-height: 82px;
}
.don-content .content1 .c1 .img {
  width: 400px;
  height: 471px;
  margin: 0 auto;
}
.don-content .content1 .c1 .text {
  width: 800px;
  height: 100%;
  margin: 35px auto 0;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}
.don-content .content1 .c1 .text p {
  text-indent: 2em;
}
.don-content .content1 .c1 .text p span {
  font-weight: bold;
  color: #f08300;
}
.don-content .content1 .c1 .yellow {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #f08300;
  margin-top: 35px;
}
.don-content .content1 .c1 .do-list {
  width: 800px;
  height: 100%;
  margin: 75px auto 0;
}
.don-content .content1 .c1 .do-list li {
  float: left;
  font-size: 20px;
  line-height: 40px;
  color: #333333;
}
.don-content .content1 .c1 .do-list li p {
  margin-bottom: 12px;
}
.don-content .content1 .c1 .do-list li div {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}
.don-content .content1 .c1 .do-list .frist {
  margin: 40px 90px 0 25px;
}
.don-content .content1 .c1 .xz {
  width: 838px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  color: #666666;
}
.don-content .content1 .c1 .tbody {
  width: 996px;
  height: 408px;
  margin: 0 auto;
}
.don-content .content1 .c1 .tbody tr {
  height: 36px;
  font-size: 14px;
  color: #333333;
}
.don-content .content1 .c1 .tbody td {
  width: 196px;
}
.don-content .content1 .c1 .contact {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #e94f65;
  margin-top: 50px;
}
.don-content .content1 .c1 .contact span {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}
.don-content .content1 .on2 {
  display: block;
}
