.don-content{
    width: 100%;
    margin-bottom:200px; 
    background: #fff;
    border-top: 1px solid #e94f65;
    .tab2{
        width:400px;
        margin: 10px auto 0;
        position: relative;
        li{
            float: left;
            background-color: #ffffff;  
            cursor: pointer;  
            position: relative;  
            width: 138px;
            height: 39px;
            line-height: 39px;
            text-align: center;
            font-size: 18px;  
            &.ml {
                margin-right: 120px;
            }
        }
        .right-separator {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: -62px;
                top: 50%;
                height: 26px;
                width: 2px;
                background: #e71f19;
                margin-top: -13px;
            }
        }
        .tab_on{
            box-shadow: 1px 1px 0px 0px #e94f65;
            border-radius: 19px;
            border: solid 1px #e94f65;
            color: #e94f65; 
        }
       
    }
    .content1{
        width: 1000px;
        height: 100%;
        margin: 45px auto 0;
        .c1{
            display: none;
            .entry1{
                width: 100%;
                height:600px;
                margin-top: 45px;
                td{
                    font-size: 14px;   
                }
                .blod{
                    td{
                        font-weight: bold;
                        font-size:18px;  
                    }
                       
                }
                .theader{
                    line-height: 82px;
                }
            }
            .img{
                width: 400px;
                height: 471px;
                margin: 0 auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .text{
                width:800px;
                height:100%;
                margin: 35px auto 0;
                font-size: 18px;
                line-height: 28px;
                color: #666666;
                p{
                    text-indent:2em;
                    span{
                        font-weight: bold;
                        color: #f08300;
                    }
                }
            }
            .yellow{
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                line-height: 28px;
                color: #f08300;
                margin-top: 35px;
            }
            .do-list{
                width:800px;
                height:100%;
                margin: 75px auto 0;
                li{
                    float: left;
                }
               .second{
                    font-size: 20px;
                    line-height: 40px;
                    color: #333333;
                    p{
                        margin-bottom: 12px;
                    }
                    div{
                        font-size: 20px;
                        font-weight: bold;
                        color: #ff0000;
                    }

                }
                .frist{
                    margin:40px 90px 0 25px;
                    width: 225px;
                    height: 157px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .xz{
                width:838px;
                margin: 0 auto;
                font-size: 20px;
                line-height: 36px;
                color: #666666;
            }
            .tbody{
                width:996px;
                height:408px;
                margin: 0 auto;
                tr{
                    height:36px;
                    font-size: 14px;
                    color: #333333;
                }
                td{
                    width:196px;
                }
            }
            .contact{
                text-align: center;
                font-size: 18px;
                line-height: 28px;
                color: #e94f65;
                margin-top:50px;
                span{
                    font-size: 24px;
                    display: block;
                    margin-bottom:10px;
                }
            }
        }
        .on2{
            display: block;
        }
    }
    
}


@media screen and (max-width: 1024px) {
    .don-content{
        width: 100%;
        margin-bottom:.8rem; 
        .tab2{
            width:4.1rem;
            margin: .10rem auto 0;
            li{
                width: 1.38rem;
                font-size: .18rem;
                height: .39rem;
                line-height: .39rem; 
                &.ml {
                    margin-right: 1.2rem;
                }
            }
            .right-separator {
                &:after {
                    content: '';
                    right: -.62rem;
                    top: 50%;
                    height: .26rem;
                    width: 1px;
                    margin-top: -.13rem;
                }
            }
            .tab_on{
                box-shadow: .01rem .01rem 0 0 #e94f65;
                border-radius: .19rem;
            }
           
        }
        .content1{
            width: 100%;
            height: 100%;
            margin: .22rem auto 0;
            .c1{
                display: none;
                .entry1{
                    width: 100%;
                    height:6.7rem;
                    margin-top:-.15rem;
                    td{
                        font-size: .14rem;   
                    }
                    .blod{
                        td{
                            font-size:.18rem;  
                        }
                           
                    }
                    .theader{
                        line-height:.75rem;
                    }
                }
                .img{
                    width: 4.00rem;
                    height: 4.71rem;
                    margin: 0 auto;
                }
                .text{
                    width:7.1rem;
                    margin: .22rem auto 0;
                    font-size: .16rem;
                    line-height: .28rem;
                    p{
                        text-indent:2em;
                    }
                }
                .yellow{
                    font-size: .2rem;
                    line-height: .2rem;
                    margin-top: .25rem;
                }
                .do-list{
                    width:7.1rem;
                    margin: .5rem auto 0;
                   
                   .second{
                        font-size: .20rem;
                        line-height: .40rem;
                        p{
                            margin-bottom: .12rem;
                        }
                        div{
                            font-size: .20rem;
                        }
    
                    }
                    .frist{
                        margin:.47rem .1rem 0 0;
                        width: 2.2rem;
                        height: 1.45rem;
                    }
                }
                .xz{
                    width:7rem;
                    font-size: .16rem;
                    line-height: .36rem;
                }
                .tbody{
                    width:7.1rem;
                    height:4.08rem;
                    tr{
                        height:.36rem;
                        font-size: .14rem;
                    }
                    td{
                        width:1.44rem;
                    }
                }
                .contact{
                    font-size: .18rem;
                    line-height: .28rem;
                    margin-top:.45rem;
                    span{
                        font-size: .24rem;
                        margin-bottom:.10rem;
                    }
                }
            }
            .on2{
                display: block;
            }
        }
        
    }
    
}

