.expert-bg {
  width: 100%;
  height: 48px;
  background-color: #f08300;
  font-size: 22px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.state {
  width: 100%;
  height: 100%;
}
.state .sta-h {
  width: 100%;
  height: 20px;
  line-height: 22px;
  position: relative;
  margin-top: 22px;
}
.state .sta-h span {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 22px;
  background: url(../../images/home.png);
  background-size: 100% 100%;
}
.state .sta-h .nav_bar {
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 30px;
  color: #666;
}
.state .sta-h .nav_bar .active {
  color: #f08300;
}
.state .expert-c {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.state .expert-c .ex-img {
  margin: 40px auto 34px;
  width: 276px;
  height: 400px;
}
.state .expert-c .ex-img img {
  width: 100%;
  height: 100%;
}
.state .expert-c .ex-name {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  color: #f08300;
  margin-bottom: 16px;
}
.state .expert-c .ex-list {
  width: 800px;
  font-size: 20px;
  margin: 0 auto;
  line-height: 39px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .expert-bg {
    height: .48rem;
    font-size: .22rem;
    line-height: .48rem;
  }
  .state {
    width: 100%;
    height: 100%;
  }
  .state .sta-h {
    height: .20rem;
    line-height: .20rem;
    margin-top: .2rem;
  }
  .state .sta-h span {
    width: .18rem;
    height: .20rem;
  }
  .state .sta-h .nav_bar {
    font-size: .16rem;
    left: .30rem;
  }
  .state .expert-c {
    margin-bottom: 1rem;
  }
  .state .expert-c .ex-img {
    margin: .3rem auto 20px;
    width: 2.76rem;
    height: 4.00rem;
  }
  .state .expert-c .ex-img img {
    width: 100%;
    height: 100%;
  }
  .state .expert-c .ex-name {
    font-size: .28rem;
    line-height: .28rem;
    margin-bottom: .20rem;
  }
  .state .expert-c .ex-list {
    width: 6.50rem;
    margin: 0 auto;
    font-size: .20rem;
    line-height: .39rem;
  }
}
