.faculty {
  width: 100%;
  height: 1185px;
}
.faculty .faculty2 {
  position: relative;
}
.faculty .faculty-list {
  width: 1162px;
  height: 1050px;
  margin: 80px auto 142px;
}
.faculty .faculty-list li {
  float: left;
  width: 232px;
  height: 350px;
  position: relative;
}
.faculty .faculty-list li .img {
  width: 100%;
  height: 100%;
}
.faculty .faculty-list li .img img {
  width: 100%;
  height: 100%;
}
.faculty .faculty-list li .title {
  position: absolute;
  left: 1px;
  bottom: 1px;
  text-align: center;
  width: 230px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 24px;
  z-index: 99;
}
.faculty .faculty-list li .mask2 {
  position: absolute;
  background: #442500;
  opacity: 0.5;
  filter: alpha(opacity=50);
  left: 1px;
  bottom: 1px;
  z-index: 40;
  width: 230px;
  height: 51px;
}
.faculty .faculty-list .show-f .mask2 {
  background: #f08300;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.faculty .faculty-list .ml {
  margin-left: 696px;
}
.faculty .faculty-c {
  width: 696px;
  height: 350px;
  background: url(../../images/faculty/bg.png);
  background-size: 100% 100%;
  position: absolute;
  top: 350px;
  left: 251px;
}
.faculty .faculty-c div {
  padding: 91px 0 0 35px;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  display: none;
}
.faculty .faculty-c .show-c {
  display: block;
}
@media screen and (max-width: 1024px) {
  .faculty {
    width: 100%;
    height: 8.09rem;
  }
  .faculty .faculty-list {
    width: 100%;
    height: 6.6rem;
    margin: .3rem auto 1.15rem;
  }
  .faculty .faculty-list li {
    width: 1.45rem;
    height: 2.2rem;
  }
  .faculty .faculty-list li .title {
    position: absolute;
    left: 0.01rem;
    bottom: 0;
    width: 1.44rem;
    padding: .08rem 0;
    font-size: .16rem;
    z-index: 99;
  }
  .faculty .faculty-list li .mask2 {
    left: 0.01rem;
    bottom: 0;
    z-index: 40;
    width: 1.44rem;
    height: .35rem;
  }
  .faculty .faculty-list .ml {
    margin-left: 4.35rem;
  }
  .faculty .faculty-c {
    width: 4.35rem;
    height: 2.2rem;
    background: url(../../images/faculty/bg.png);
    background-size: 100% 100%;
    top: 2.2rem;
    left: 1.45rem;
  }
  .faculty .faculty-c div {
    padding: .44rem .15rem 0 .36rem;
    font-size: .14rem;
    line-height: .25rem;
  }
}
