.faculty {
  width: 100%;
  height: 1272px;
}
.faculty .faculty2 {
  position: relative;
}
.faculty .faculty-list {
  width: 1161px;
  height: 1050px;
  margin: 80px auto 142px;
}
.faculty .faculty-list li {
  float: left;
  width: 230px;
  height: 350px;
  position: relative;
  border: 1px solid #fff;
}
.faculty .faculty-list li .img {
  width: 100%;
  height: 100%;
}
.faculty .faculty-list li .img img {
  width: 100%;
  height: 100%;
}
.faculty .faculty-list li .title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: #442500;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  padding: 10px 0;
}
.faculty .faculty-list li .title span {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  display: block;
}
.faculty .faculty-list .show-f p {
  background: #f08300;
  opacity: 0.1;
  filter: alpha(opacity=10);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
}
.faculty .faculty-list .ml {
  margin-left: 696px;
}
.faculty .faculty-c {
  width: 660px;
  padding: 96px 0 0 34px;
  height: 254px;
  background-color: #f28e16;
  position: absolute;
  top: 352px;
  left: 251px;
  border: 1px solid #fff;
}
.faculty .faculty-c div {
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  display: none;
}
.faculty .faculty-c .show-c {
  display: block;
}
