.founder {
  height: 100%;
  width: 100%;
}
.founder .founder-c {
  height: 1060px;
  padding: 40px 0 120px;
}
.founder .founder-c .fou-tit {
  font-size: 38px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.founder .founder-c .fou-c {
  width: 401px;
  height: 645px;
  margin: 0 auto;
}
.founder .founder-c .fou-c .fou-img {
  width: 100%;
  height: 471px;
  background: url(../../images/aboutus/founder.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.founder .founder-c .fou-c .fou-h {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  color: #f08300;
  text-align: center;
  margin: 40px 0 5px;
}
.founder .founder-c .fou-c .fou-t {
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  text-align: center;
}
.founder .founder-c .fou-text {
  font-size: 20px;
  line-height: 39px;
  color: #000000;
  padding-left: 290px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: .1rem;
    opacity: 0;
  }
  .content {
    width: 7.3rem;
    height: 100%;
    margin: 0 auto;
  }
  .founder .founder-c {
    height: 9.2rem;
    padding: .28rem 0 .5rem;
  }
  .founder .founder-c .fou-tit {
    font-size: .3rem;
    line-height: .3rem;
    margin-bottom: .28rem;
  }
  .founder .founder-c .fou-c {
    width: 3.4rem;
    height: 5.08rem;
  }
  .founder .founder-c .fou-c .fou-img {
    width: 2.76rem;
    height: 3.56rem;
  }
  .founder .founder-c .fou-c .fou-h {
    font-size: .28rem;
    line-height: .28rem;
    margin: .28rem 0 0.05rem;
  }
  .founder .founder-c .fou-c .fou-t {
    font-size: .16rem;
    line-height: .26rem;
  }
  .founder .founder-c .fou-text {
    font-size: .20rem;
    line-height: .39rem;
    padding-left: .58rem;
  }
}
