.founder {
  height: 100%;
  width: 100%;
}
.founder .founder-c {
  height: 1060px;
  padding: 40px 0 120px;
}
.founder .founder-c .fou-tit {
  font-size: 38px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.founder .founder-c .fou-c {
  width: 401px;
  height: 645px;
  margin: 0 auto;
}
.founder .founder-c .fou-c .fou-img {
  width: 100%;
  height: 471px;
  background: url(../../images/aboutus/founder.png);
}
.founder .founder-c .fou-c .fou-h {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  color: #f08300;
  text-align: center;
  margin: 40px 0 5px;
}
.founder .founder-c .fou-c .fou-t {
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  text-align: center;
}
.founder .founder-c .fou-text {
  font-size: 20px;
  line-height: 39px;
  color: #000000;
  padding-left: 290px;
}
