.glory{
    height: 100%;
    width: 100%;
    .glory-c{
        padding: 40px 0 120px;
        height:730px;
        .glory-tit{
            font-size: 38px;
            line-height: 36px;
            color: #333333;
            text-align: center;
            margin-bottom: 26px;
        }
        .glory-list{
            width: 1080px;
            margin: 0 auto;
            overflow: hidden;
        }
        .list{
            width: 1128px;
            height:100%;
            li{
                float: left;
                margin:0 48px 20px 0;
                width: 233px;
                height: 213px;
                background: url(../../images/honor-bg.png);
                img{
                    width: 195px;
                    height: 137px;
                    margin: 21px 20px 0;
                }
                p{
                    text-align: center;
                    line-height: 38px;
                    font-size: 18px;
                    color: #333333;
                }
            }
        }
    }
}