.glory{
    height: 100%;
    width: 100%;
    .glory-c{
        padding: 40px 0 120px;
        height:730px;
        .glory-tit{
            font-size: 38px;
            line-height: 36px;
            color: #333333;
            text-align: center;
            margin-bottom: 26px;
        }
        .glory-list{
            width: 1080px;
            margin: 0 auto;
            overflow: hidden;
        }
        .list{
            width: 1128px;
            height:100%;
            li{
                float: left;
                margin:0 48px 20px 0;
                width: 233px;
                height: 210px;
                background: url(../../images/honor-bg.png);
                background-size: 100% 100%;
                .img{
                    width: 195px;
                    height: 137px;
                    position: relative; 
                    margin: 21px 20px 0;
                }
                img{
                   position: absolute;
                   top:0;
                   left: 0;
                   width: 100%;
                   height: 100%;
                   
                }
                p{
                    text-align: center;
                    line-height: 44px;
                    font-size: 18px;
                    color: #333333;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .glory{
        height: 100%;
        width: 100%;
        .glory-c{
            padding:.28rem 0 1.20rem;
            height:9.14rem;
            .glory-tit{
                font-size: .3rem;
                line-height: .3rem;
                margin-bottom: .2rem;
            }
            .glory-list{
                width: 100%;
            }
            .list{
                width: 7.44rem;
                li{
                    margin:0 .14rem .16rem 0;
                    width: 2.33rem;
                    height: 2.10rem;
                    position: relative;
                    .img{
                        position: relative;
                        width: 1.95rem;
                        height: 1.39rem;
                        margin: .21rem .20rem 0;
                        img{
                            position: absolute;
                            top:0;
                            left:0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p{
                        position: absolute;
                        bottom:0.05rem;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        line-height: .44rem;
                        font-size: .18rem;
                        margin-top: 0rem;
                    }
                }
            }
        }
    }
}