.w100 {
  width: 100%;
  height: 570px;
  margin: 0 auto;
  position: relative;
}
.w100 .pos1 {
  width: 100%;
  height: 100%;
}
#one {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#one li {
  float: left;
  width: 100%;
  height: 100%;
  display: none;
}
#one li img {
  width: 100%;
  height: 100%;
}
#one .on {
  display: block;
}
#two {
  position: absolute;
  margin-left: -75px;
  left: 50%;
  bottom: 41px;
}
#two li {
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  background: #dbdbdb;
  margin-left: 30px;
  cursor: pointer;
  text-align: center;
}
#two .on {
  border: 1px solid #fdad4c;
  background: #fdad4c;
}
.slider-page {
  display: none;
}
.slider-page a {
  display: block;
  width: 28px;
  height: 62px;
  line-height: 62px;
  color: #999;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-top: -5px;
}
#left {
  position: absolute;
  left: 5%;
  top: 215px;
}
#right {
  position: absolute;
  right: 5%;
  top: 215px;
}
#lunbo:hover .slider-page {
  display: block;
}
.abstract {
  width: 100%;
  background: #fff;
}
.abstract .ab-h {
  width: 450px;
  height: 71px;
  margin: 78px auto 0;
  position: relative;
}
.abstract .ab-h .line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
}
.abstract .ab-h .title {
  width: 210px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -105px;
  text-align: center;
  top: 20px;
}
.abstract .ab-h .title .t1 {
  font-size: 38px;
  line-height: 20px;
  color: #333333;
}
.abstract .ab-h .title .underline {
  width: 80px;
  height: 6px;
  background-color: #f08300;
  margin: 13px 0 0 116px;
}
.abstract .ab-h .title .t2 {
  font-size: 18px;
  line-height: 20px;
  color: #b1b1b1;
  margin-top: 10px;
}
.abstract .ab-c {
  width: 686px;
  height: 648px;
  margin: 65px auto 0;
  position: relative;
}
.abstract .ab-c .circle {
  width: 421px;
  height: 494px;
  background: url(../../images/circle.png);
  position: relative;
}
.abstract .ab-c .circle .m {
  width: 360px;
  height: 108px;
  position: absolute;
  left: 290px;
  top: 0px;
}
.abstract .ab-c .circle .m .m-c {
  font-size: 40px;
  line-height: 49px;
  color: #b0d012;
  text-align: center;
}
.abstract .ab-c .circle .m .m-line {
  width: 261px;
  height: 2px;
  background-color: #b8b8b8;
}
.abstract .ab-c .circle .m .m-e {
  font-size: 30px;
  line-height: 49px;
  color: #999999;
  text-align: center;
}
.abstract .ab-c .circle .u {
  left: 421px;
  top: 127px;
}
.abstract .ab-c .circle .u .m-l {
  background-color: #ff5881;
}
.abstract .ab-c .circle .u .m-r .m-c {
  color: #ff5881;
}
.abstract .ab-c .circle .s {
  left: 404px;
  top: 297px;
}
.abstract .ab-c .circle .s .m-l {
  background-color: #ebadbb;
}
.abstract .ab-c .circle .s .m-r .m-c {
  color: #ebadbb;
}
.abstract .ab-c .circle .t {
  left: 228px;
  top: 400px;
}
.abstract .ab-c .circle .t .m-l {
  background-color: #c1de34;
}
.abstract .ab-c .circle .t .m-r .m-c {
  color: #cbd983;
}
.abstract .ab-c .arrow {
  width: 25px;
  height: 78px;
  background: url(../../images/arrow.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 330px;
}
.abstract .ab-f {
  width: 100%;
  text-align: center;
  margin: 75px auto 55px;
}
.abstract .ab-f p {
  font-size: 20px;
  line-height: 29px;
  color: #666666;
}
.abstract .ab-f p span {
  font-size: 24px;
}
.abstract .ab-f div {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: #fdad4c;
}
.system {
  width: 100%;
  height: 1190px;
  padding-top: 50px;
  background-color: #f7f7f7;
  position: relative;
}
.system .sy-h {
  width: 283px;
  height: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: #666666;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.system .sy-h strong {
  position: absolute;
  top: 28px;
  left: -5px;
  width: 13px;
  height: 7px;
  background: url(../../images/tit2.png);
}
.system .sy-h span {
  font-size: 20px;
  color: #666666;
  font-weight: normal;
}
.system .sy-h b {
  position: absolute;
  top: 1px;
  left: 168px;
  width: 13px;
  height: 7px;
  background: url(../../images/tit1.png);
}
.system .sy-c {
  width: 403px;
  height: 291px;
  margin: 0 auto;
  margin-top: 36px;
}
.system .sy-c li {
  width: 131px;
  height: 290px;
  text-align: center;
  font-size: 34px;
  letter-spacing: 2px;
  color: #fbf4eb;
}
.system .sy-c li p {
  width: 40px;
  height: 155px;
  margin: 45px auto 0;
}
.system .sy-c li span {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 3px;
  color: #fbf4eb;
  font-weight: bold;
}
.system .sy-c .left {
  background: url(../../images/left.png);
}
.system .sy-c .right {
  background: url(../../images/right.png);
}
.system .on-line {
  margin: 34px auto 0;
  width: 217px;
  height: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: #666666;
  position: relative;
}
.system .on-line strong {
  position: absolute;
  top: 28px;
  left: -5px;
  width: 13px;
  height: 7px;
  background: url(../../images/tit2.png);
}
.system .on-line b {
  position: absolute;
  top: 1px;
  left: 207px;
  width: 13px;
  height: 7px;
  background: url(../../images/tit1.png);
}
.system .title {
  text-align: center;
  margin: 45px 0 14px;
}
.system .title div {
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  color: #fdad4c;
}
.system .title p {
  font-size: 18px;
  line-height: 36px;
  color: #fdad4c;
}
.system .sy-list {
  width: 785px;
  margin: 0 auto;
}
.system .sy-list li {
  float: left;
  width: 221px;
  height: 235px;
  text-align: center;
  margin-left: 61px;
}
.system .sy-list li:first-child {
  margin-left: 0;
}
.system .sy-list li div {
  width: 221px;
  height: 198px;
}
.system .sy-list li div img {
  width: 100%;
  height: 100%;
}
.system .sy-list li p {
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  color: #666666;
  margin-top: 8px;
}
.system .under {
  margin-top: 104px;
}
.system .more {
  width: 202px;
  height: 40px;
  display: block;
  background-color: #bfbfbf;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -101px;
}
.must-under {
  width: 100%;
  height: 1030px;
  position: relative;
}
.must-under .content2 {
  position: absolute;
  z-index: 2001;
  left: 50%;
  margin-left: -600px;
}
.must-under .bg {
  width: 100%;
  height: 530px;
  background: #fdf0f7;
  position: absolute;
  bottom: 0;
  z-index: 1001;
}
.must-under .ab-h {
  width: 604px;
  height: 71px;
  margin: 70px auto 0;
  position: relative;
}
.must-under .ab-h .line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
}
.must-under .ab-h .title {
  width: 380px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -190px;
  text-align: center;
  top: 20px;
}
.must-under .ab-h .title .t1 {
  font-size: 38px;
  line-height: 20px;
  color: #333333;
}
.must-under .ab-h .title .underline {
  width: 80px;
  height: 6px;
  background-color: #f08300;
  margin: 13px 0 0 126px;
}
.must-under .ab-h .title .t2 {
  font-size: 18px;
  line-height: 20px;
  color: #b1b1b1;
  margin-top: 10px;
}
.must-under .title2 {
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.must-under .title2 p {
  font-size: 20px;
  line-height: 29px;
  color: #666666;
}
.must-under .under-tit {
  width: 169px;
  height: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: #666666;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 60px;
}
.must-under .under-tit strong {
  position: absolute;
  top: 28px;
  left: -7px;
  width: 13px;
  height: 7px;
  background: url(../../images/tit2.png);
}
.must-under .under-tit b {
  position: absolute;
  top: 1px;
  left: 163px;
  width: 13px;
  height: 7px;
  background: url(../../images/tit1.png);
}
.must-under .under-list {
  width: 100%;
  height: 562px;
  margin-top: 40px;
  z-index: 1000;
  overflow: hidden;
}
.must-under .under-list ul {
  width: 1216px;
}
.must-under .under-list li {
  float: left;
  margin-right: 16px;
  margin-bottom: 20px;
}
.must-under .under-list li p {
  width: 288px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #fefefe;
  margin-top: -4px;
}
.must-under .under-list li img {
  width: 288px;
  height: 210px;
}
.must-under .under-list li .p1 {
  background: #f09934;
}
.must-under .under-list li .p2 {
  background: #bfd641;
}
.must-under .under-list li .p3 {
  background: #ee52a8;
}
.must-under .under-list li .p4 {
  background: #577ce5;
}
.must-under .under-list li .p5 {
  background: #43c8ed;
}
.must-under .under-list li .p6 {
  background: #ea5661;
}
.must-under .under-list li .p7 {
  background: #b555f0;
}
.must-under .under-list li .p8 {
  background: #ef7649;
}
.must-under .more2 {
  width: 202px;
  height: 40px;
  display: block;
  background-color: #bfbfbf;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  position: absolute;
  bottom: 61px;
  left: 50%;
  margin-left: -101px;
}
.expert .ab-h {
  width: 467px;
  height: 71px;
  margin: 70px auto 0;
  position: relative;
}
.expert .ab-h .line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
}
.expert .ab-h .title {
  width: 187px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -93px;
  text-align: center;
  top: 20px;
}
.expert .ab-h .title .t1 {
  font-size: 38px;
  line-height: 20px;
  color: #333333;
}
.expert .ab-h .title .underline {
  width: 80px;
  height: 6px;
  background-color: #f08300;
  margin: 13px 0 0 17px;
}
.expert .ab-h .title .t2 {
  font-size: 18px;
  line-height: 20px;
  color: #b1b1b1;
  margin-top: 10px;
}
.expert .ex-list {
  width: 100%;
  height: 100%;
  margin: 60px auto 40px;
  overflow: hidden;
}
.expert .ex-list ul {
  width: 1210px;
}
.expert .ex-list a {
  float: left;
  display: block;
  width: 232px;
  height: 350px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.expert .ex-list a .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.expert .ex-list a .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  z-index: 99;
}
.expert .ex-list a .text {
  padding: 96px 5px 0 16px;
  width: 211px;
  height: 254px;
  position: absolute;
  top: 700px;
  left: 0;
  z-index: 99;
}
.expert .ex-list a .text div {
  font-size: 22px;
  line-height: 37px;
  color: #ffffff;
}
.expert .ex-list a .text p {
  font-size: 14px;
  line-height: 31px;
  color: #ffffff;
}
.expert .ex-list a .text2 p {
  line-height: 26px;
}
.expert .ex-list a .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-color: #050214;
  left: 0;
  top: 350px;
  margin-top: -54px;
  z-index: 40;
}
.expert .ex-list li:hover .title {
  display: none;
}
.expert .ex-list li:hover .text {
  top: 0;
}
.expert .ex-list li:hover .mask {
  margin-top: -350px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mode {
  height: 1208px;
  background-color: #f7f7f7;
  padding-top: 20px;
}
.mode .ab-h {
  width: 467px;
  height: 71px;
  margin: 0 auto ;
  position: relative;
}
.mode .ab-h .line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
}
.mode .ab-h .title {
  width: 187px;
  height: 100%;
  background: #f7f7f7;
  position: absolute;
  left: 50%;
  margin-left: -93px;
  text-align: center;
  top: 20px;
}
.mode .ab-h .title .t1 {
  font-size: 38px;
  line-height: 20px;
  color: #333333;
}
.mode .ab-h .title .underline {
  width: 80px;
  height: 6px;
  background-color: #f08300;
  margin: 13px 0 0 92px;
}
.mode .ab-h .title .t2 {
  font-size: 18px;
  line-height: 20px;
  color: #b1b1b1;
  margin-top: 10px;
}
.mode .mode-list {
  width: 844px;
  height: 977px;
  margin: 40px auto 125px;
}
.mode .mode-list li div {
  float: left;
}
.mode .mode-list li .tl {
  margin: 114px 0 0 22px;
}
.mode .mode-list li .tl p {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #666666;
}
.mode .mode-list li .tl div {
  width: 144px;
  height: 4px;
  background: #a9a9a9;
  margin: 3px 0 0 37px ;
}
.mode .mode-list li .tp {
  margin: 0 63px;
  width: 304px;
  height: 160px;
  background: url(../../images/contrast.png);
}
.mode .mode-list li .tr div {
  width: 130px;
  margin-left: 0px;
}
.mode .mode-list .t1 {
  width: 100%;
  height: 160px;
}
.mode .mode-list .t2 {
  margin-top: 25px;
}
.mode .mode-list .t2 .t2l {
  width: 222px;
  height: 108px;
  padding-top: 30px;
  background: url(../../images/mode.png);
  text-align: center;
}
.mode .mode-list .t2 .t2l p {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
.mode .mode-list .t2 .t2l p .strong {
  font-weight: bold;
}
.mode .mode-list .t2 .tp2 {
  text-align: center;
  margin: 0 50px 0;
}
.mode .mode-list .t2 .tp2 .arrow {
  width: 295px;
  height: 45px;
  background: url(../../images/arrow2.png);
}
.mode .mode-list .t2 .tp2 .text {
  font-size: 25px;
  font-weight: bold;
  line-height: 20px;
  color: #666666;
}
.mode .mode-list .t2 .tp3 {
  margin: -19px 50px 0;
}
.mode .mode-list .t2 .tp4 {
  margin: -10px 50px 0;
}
.trends {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.trends .tab {
  width: 100%;
  height: 68px;
  position: relative;
  top: 17px;
}
.trends .tab li {
  float: left;
  text-align: center;
  line-height: 34px;
  width: 398px;
  height: 34px;
  font-size: 24px;
  color: #666666;
  cursor: pointer;
}
.trends .tab .border {
  border-left: 2px solid #d2d2d2;
}
.trends .tab .tab_on {
  line-height: 68px;
  width: 400px;
  height: 68px;
  color: #ffffff;
  margin-top: -17px;
  background-color: #ee52a8;
  border-radius: 20px 20px 0px 0px;
}
.trends .tab .tab_on2 {
  background-color: #5885e2;
  line-height: 68px;
  width: 400px;
  height: 68px;
  color: #ffffff;
  margin-top: -17px;
  border-radius: 20px 20px 0px 0px;
}
.trends .tab .tab_on3 {
  background-color: #a665ec;
  line-height: 68px;
  width: 400px;
  height: 68px;
  color: #ffffff;
  margin-top: -17px;
  border-radius: 20px 20px 0px 0px;
}
.trends .line {
  width: 100%;
  height: 8px;
  background: url(../../images/line.png);
}
.trends .content1 {
  width: 1180px;
  height: 407px;
  padding: 33px 10px 0px 10px;
  background-color: #ffffff;
  box-shadow: inset 1px 2px 7px 0px rgba(0, 0, 0, 0.24), inset 0px -2px 7px 0px rgba(0, 0, 0, 0.24);
}
.trends .content1 .list {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  position: relative;
}
.trends .content1 .list ul {
  width: 1220px;
}
.trends .content1 .list li {
  float: left;
  width: 380px;
  height: 310px;
  margin-right: 20px;
}
.trends .content1 .list li .img {
  width: 100%;
  height: 210px;
}
.trends .content1 .list li .img img {
  width: 100%;
  height: 100%;
}
.trends .content1 .list li .title {
  font-size: 20px;
  line-height: 37px;
  color: #666666;
  margin: 13px 0 5px;
}
.trends .content1 .list li .center {
  text-align: center;
}
.trends .content1 .list li .time {
  font-size: 16px;
  line-height: 36px;
  color: #999999;
  margin-left: 240px;
}
.trends .content1 .list .more3 {
  width: 202px;
  height: 40px;
  display: block;
  background-color: #bfbfbf;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -101px;
}
.trends .content1 .list .mt {
  bottom: 60px;
}
.trends .content1 .on {
  display: block;
}
.case {
  width: 100%;
  height: 100%;
}
.case .ab-h {
  width: 467px;
  height: 71px;
  margin: 70px auto 0 ;
  position: relative;
}
.case .ab-h .line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
}
.case .ab-h .title {
  width: 187px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -93px;
  text-align: center;
  top: 20px;
}
.case .ab-h .title .t1 {
  font-size: 38px;
  line-height: 20px;
  color: #333333;
}
.case .ab-h .title .underline {
  width: 80px;
  height: 6px;
  background-color: #f08300;
  margin: 13px 0 0 92px;
}
.case .ab-h .title .t2 {
  font-size: 18px;
  line-height: 20px;
  color: #b1b1b1;
  margin-top: 10px;
}
.case .case-list {
  width: 100%;
  height: 228px;
  margin-top: 50px;
  overflow: hidden;
}
.case .case-list ul {
  width: 1216px;
}
.case .case-list a {
  float: left;
  margin-right: 16px;
}
.case .case-list a p {
  width: 288px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  border-radius: 0 16px 0 16px;
}
.case .case-list a .c1 {
  background-color: #ef7649;
}
.case .case-list a .c2 {
  background-color: #5b82e7;
}
.case .case-list a .c3 {
  background-color: #ee52a8;
}
.case .case-list a .c4 {
  background-color: #e94f65;
}
.case .case-list2 {
  margin-top: 60px;
}
.case .video {
  width: 100%;
  height: 348px;
  margin-top: 20px;
}
.case .video a {
  width: 590px;
  height: 100%;
  float: left;
}
.case .video a:first-child {
  margin-right: 20px;
}
.case .video a img {
  width: 100%;
  height: 100%;
}
.case .case-video {
  margin-bottom: 223px;
}
.honor .ab-h {
  width: 467px;
  height: 71px;
  margin: 70px auto 0 ;
  position: relative;
}
.honor .ab-h .line {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
}
.honor .ab-h .title {
  width: 187px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -93px;
  text-align: center;
  top: 20px;
}
.honor .ab-h .title .t1 {
  font-size: 38px;
  line-height: 20px;
  color: #333333;
}
.honor .ab-h .title .underline {
  width: 80px;
  height: 6px;
  background-color: #f08300;
  margin: 13px 0 0 92px;
}
.honor .ab-h .title .t2 {
  font-size: 18px;
  line-height: 20px;
  color: #b1b1b1;
  margin-top: 10px;
}
.honor .honor-list {
  width: 100%;
  height: 212px;
  margin: 35px auto 37px;
  background-color: #fdf0f7;
  position: relative;
}
.honor .honor-list .list-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.honor .honor-list .list-content .hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.honor .honor-list .list-content .list {
  width: 100%;
  height: 100%;
}
.honor .honor-list .list-content .list li {
  float: left;
  margin-left: 8px;
  width: 233px;
  height: 213px;
  background: url(../../images/honor-bg.png);
}
.honor .honor-list .list-content .list li:first-child {
  margin-left: 0;
}
.honor .honor-list .list-content .list li img {
  width: 195px;
  height: 137px;
  margin: 21px 20px 0;
}
.honor .honor-list .list-content .list li p {
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #333333;
}
.honor .honor-list .list-content .honor-page {
  position: absolute;
  top: 0;
}
.honor .honor-list .list-content .honor-page a {
  display: block;
  width: 21px;
  height: 78px;
  position: absolute;
  z-index: 10;
  top: 63px;
}
.honor .honor-list .list-content .honor-page #left2 {
  background: url(../../images/left2.png);
  left: -61px;
}
.honor .honor-list .list-content .honor-page #right2 {
  background: url(../../images/right2.png);
  right: -1261px;
}
#back {
  display: none;
  /* 默认隐藏 */
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url(../../images/back.png);
  background-size: 100% 100%;
}
