@import '../public/reset.css';
.w100 {
  width: 100%;
  height: 570px;
  margin: 0 auto;
  position: relative;
}
#one2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#one2 li {
  float: left;
  width: 100%;
  height: 100%;
  display: none;
}
#one2 li img {
  width: 100%;
  height: 100%;
}
#one2 .on {
  display: block;
}
#two2 {
  position: absolute;
  margin-left: -75px;
  left: 50%;
  bottom: 41px;
}
#two2 li {
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  background: #dbdbdb;
  margin-left: 30px;
  cursor: pointer;
  text-align: center;
}
#two2 .on {
  border: 1px solid #fdad4c;
  background: #fdad4c;
}
.slider-page {
  display: none;
}
.slider-page a {
  display: block;
  width: 28px;
  height: 62px;
  line-height: 62px;
  color: #999;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-top: -5px;
}
#left {
  position: absolute;
  left: 5%;
  top: 215px;
}
#right {
  position: absolute;
  right: 5%;
  top: 215px;
}
#lunbo2:hover .slider-page {
  display: block;
}
.fam-h {
  font-size: 38px;
  line-height: 22px;
  color: #333333;
  text-align: center;
}
.fam-h p {
  width: 234px;
  height: 27px;
  background: url(../../images/internet/tit-d.png);
  margin: 18px auto 20px;
}
.family {
  height: 584px;
  width: 100%;
  padding-top: 42px;
}
.family .fam-tit {
  font-size: 30px;
  font-weight: bold;
  line-height: 68px;
  color: #666666;
  text-align: center;
}
.family .fam-tit span {
  color: #f08300;
}
.family .fam-list {
  width: 785px;
  height: 360px;
  margin: 0 auto;
}
.family .fam-list li {
  width: 221px;
  height: 100%;
  float: left;
  margin-left: 61px;
}
.family .fam-list li:first-child {
  margin-left: 0;
}
.family .fam-list li .fam-img {
  width: 221px;
  height: 198px;
}
.family .fam-list li .fam-img img {
  width: 100%;
  height: 100%;
}
.family .fam-list li .fam-text {
  width: 100%;
  height: 152px;
  padding-top: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #666666;
  text-align: center;
  background-color: #fffaf5;
}
.f-course {
  height: 548px;
  padding-top: 32px;
  background-color: #fffaf5;
}
.f-course .fc-h {
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
  color: #666666;
  text-align: center;
}
.f-course .fc-h span {
  color: #f08300;
}
.f-course .fc-h2 {
  font-size: 20px;
  line-height: 22px;
  color: #666666;
  margin: 8px auto 20px;
  text-align: center;
}
.f-course .fc-list {
  position: relative;
}
.f-course .fc-list li {
  font-size: 18px;
  line-height: 27px;
  color: #666666;
  position: absolute;
}
.f-course .fc-list .left {
  width: 233px;
  height: 100px;
  background-color: #ffffff;
  border: solid 1px #ffc682;
  padding: 18px 0 0 17px;
  top: 1px;
  left: 145px;
}
.f-course .fc-list .right {
  width: 233px;
  height: 100px;
  background-color: #ffffff;
  border: solid 1px #ffc682;
  padding: 18px 0 0 17px;
  top: 68px;
  right: 145px;
}
.f-course .fc-list .cent {
  width: 661px;
  height: 336px;
  top: 0;
  left: 270px;
}
.f-course .fc-list .cent img {
  width: 100%;
  height: 100%;
}
.f-course .fc-t {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #666666;
  text-align: center;
  margin-top: 380px;
}
.time {
  height: 725px;
  width: 100%;
  padding-top: 58px;
}
.time .time-line {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  color: #ffb964;
  text-align: center;
  margin-bottom: 46px;
}
.time .time-line p {
  text-decoration: underline;
}
.time .time-tit {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  margin-bottom: 10px;
}
.time .time-tit span {
  color: #f08300;
}
.time .time-tit2 {
  font-size: 20px;
  line-height: 22px;
  color: #666666;
  text-align: center;
}
.time .time-list {
  width: 1182px;
  height: 305px;
  margin-top: 18px;
}
.time .time-list li {
  float: left;
  width: 560px;
  height: 100%;
  margin-left: 60px;
  border-bottom: 6px solid #f76a31;
}
.time .time-list li:first-child {
  margin-left: 0px;
}
.time .time-list li div {
  float: left;
}
.time .time-list li .time-img {
  width: 232px;
  height: 100%;
}
.time .time-list li .time-img img {
  width: 100%;
  height: 100%;
}
.time .time-list li .time-txt {
  width: 328px;
  height: 100%;
  background-color: #fff0ef;
}
.time .time-list li .time-txt .title {
  width: 206px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  background: url(../../images/internet/time3.png);
  font-size: 29px;
  font-weight: bold;
  color: #ffffff;
  margin: 32px 64px 16px  64px;
}
.time .time-list li .time-txt p {
  font-size: 26px;
  font-weight: bold;
  line-height: 44px;
  color: #666666;
  text-align: center;
}
.problem {
  width: 100%;
  height: 1050px;
  padding-top: 30px;
  background-color: #fffaf5;
}
.problem .problem-content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.problem .problem-content .pro-h {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  text-align: center;
}
.problem .problem-content .pro-h span {
  color: #f08300;
}
.problem .problem-content .pro-c {
  width: 100%;
  height: 582px;
  position: relative;
  top: 33px;
}
.problem .problem-content .pro-c .p-g {
  border-radius: 50%;
  position: absolute;
  box-shadow: 1px 10px 3px 0px rgba(50, 58, 142, 0.16);
}
.problem .problem-content .pro-c .p-g div {
  position: absolute;
}
.problem .problem-content .pro-c .p-g div p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  color: #ffffff;
}
.problem .problem-content .pro-c .p1 {
  top: 110px;
  left: -9px;
  width: 162px;
  height: 162px;
  background-color: #ff6158;
  transform: scale(1);
}
.problem .problem-content .pro-c .p1:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p1 div {
  top: 50px;
  left: 24px;
}
.problem .problem-content .pro-c .p2 {
  top: 266px;
  left: 92px;
  width: 148px;
  height: 149px;
  background-color: #50b9ec;
  transform: scale(1);
}
.problem .problem-content .pro-c .p2:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p2 div {
  top: 42px;
  left: 18px;
}
.problem .problem-content .pro-c .p3 {
  top: 432px;
  left: 163px;
  width: 151px;
  height: 150px;
  background-color: #ff4d8c;
  transform: scale(1);
}
.problem .problem-content .pro-c .p3:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p4 {
  top: 0px;
  left: 154px;
  width: 186px;
  height: 186px;
  background-color: #70d49c;
  transform: scale(1);
}
.problem .problem-content .pro-c .p4:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p4 div {
  top: 61px;
  left: 22px;
}
.problem .problem-content .pro-c .p5 {
  top: 196px;
  left: 247px;
  width: 138px;
  height: 137px;
  background-color: #fd6967;
  transform: scale(1);
}
.problem .problem-content .pro-c .p5:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p5 div {
  top: 37px;
  left: 41px;
}
.problem .problem-content .pro-c .p6 {
  top: 65px;
  left: 367px;
  width: 155px;
  height: 156px;
  background-color: #ffc941;
  transform: scale(1);
}
.problem .problem-content .pro-c .p6:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p6 div {
  top: 47px;
  left: 22px;
}
.problem .problem-content .pro-c .p7 {
  top: 274px;
  left: 387px;
  width: 161px;
  height: 161px;
  background-color: #70d49c;
  transform: scale(1);
}
.problem .problem-content .pro-c .p7:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p7 div {
  top: 48px;
  left: 39px;
}
.problem .problem-content .pro-c .p8 {
  top: 137px;
  right: 268px;
  width: 174px;
  height: 174px;
  background-color: #ff6158;
  transform: scale(1);
}
.problem .problem-content .pro-c .p8:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p8 div {
  top: 55px;
  left: 31px;
}
.problem .problem-content .pro-c .p9 {
  top: 344px;
  right: 217px;
  width: 155px;
  height: 156px;
  background-color: #ffc941;
  transform: scale(1);
}
.problem .problem-content .pro-c .p9:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p9 div {
  top: 46px;
  left: 21px;
}
.problem .problem-content .pro-c .p10 {
  top: 107px;
  right: 26px;
  width: 195px;
  height: 196px;
  background-color: #fa4da3;
  transform: scale(1);
}
.problem .problem-content .pro-c .p10:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p10 div {
  top: 49px;
  left: 27px;
}
.problem .problem-content .pro-c .p11 {
  top: 362px;
  right: -7px;
  width: 152px;
  height: 152px;
  background-color: #8d79ff;
  transform: scale(1);
}
.problem .problem-content .pro-c .p11:hover {
  transform: scale(1.2);
}
.problem .problem-content .pro-c .p11 div {
  top: 44px;
  left: 20px;
}
.problem .problem-content .pro-c .p-bg {
  width: 286px;
  height: 464px;
  position: absolute;
  top: 477px;
  left: 368px;
  background: url(../../images/internet/dengpao.png);
}
.problem .p3 div {
  top: 44px;
  left: 19px;
}
.expert {
  height: 610px;
  width: 100%;
  padding-top: 38px;
}
.expert .ex-tit {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  text-align: center;
}
.expert .ex-tit span {
  color: #f08300;
}
.expert .ex-tit2 {
  font-size: 20px;
  line-height: 22px;
  color: #666666;
  text-align: center;
  margin-top: 8px;
}
.expert .ex-list {
  width: 903px;
  height: 340px;
  margin: 36px auto 0;
}
.expert .ex-list li {
  float: left;
}
.expert .ex-list .ex-img {
  width: 317px;
  height: 340px;
}
.expert .ex-list .ex-img img {
  width: 100%;
  height: 100%;
}
.expert .ex-list .ex-text {
  margin-top: 50px;
}
.expert .ex-list .ex-text .ex-h {
  width: 566px;
  height: 76px;
  padding: 14px 0 0 20px;
  border-top: 4px solid #cfcdca;
  background: #fffbf6;
}
.expert .ex-list .ex-text .ex-h p {
  font-size: 33px;
  line-height: 38px;
  color: #231815;
}
.expert .ex-list .ex-text .ex-h div {
  font-size: 18px;
  letter-spacing: 1px;
  color: #231815;
}
.expert .ex-list .ex-text .ex-p {
  padding-left: 20px;
  font-size: 18px;
  line-height: 33px;
  color: #999999;
  margin-top: 12px;
}
.service {
  height: 1705px;
  width: 100%;
}
.service .ser-h {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  margin-top: 38px;
}
.service .ser-h span {
  color: #f08300;
}
.service .ser-h2 {
  font-size: 20px;
  line-height: 22px;
  color: #666666;
  text-align: center;
  margin: 10px 0 30px 0;
}
.service .service-list {
  width: 1000px;
  height: 910px;
  margin: 0 auto ;
}
.service .service-list .service-list2 {
  height: 141px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.service .service-list .service-list2 li {
  position: absolute;
  top: 0;
}
.service .service-list .service-list2 .left {
  width: 238px;
  height: 141px;
  background-color: #a2c30d;
  margin-right: 10px;
  left: 0;
  z-index: 100;
}
.service .service-list .service-list2 .left .text {
  font-size: 24px;
  line-height: 41px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  padding-right: 18px;
}
.service .service-list .service-list2 .right {
  right: 0;
  padding-left: 61px;
  padding-right: 125px;
  width: 594px;
  height: 139px;
  border: 1px solid #dedede;
  font-size: 22px;
  line-height: 141px;
  display: table-cell;
  vertical-align: middle;
  color: #333333;
}
.service .service-list .service-list22 .left {
  background: url(../../images/internet/s1.png);
}
.service .service-list .service-list22 .right {
  height: 100px;
  line-height: 34px;
  padding-top: 39px;
}
.service .service-list .service-list3 .left {
  background: url(../../images/internet/s2.png);
}
.service .service-list .service-list3 .right {
  height: 100px;
  line-height: 34px;
  padding-top: 39px;
}
.service .service-list .service-list4 .left {
  background: url(../../images/internet/s3.png);
}
.service .service-list .service-list4 .right {
  height: 100px;
  line-height: 34px;
  padding-top: 39px;
}
.service .service-list .service-list5 .left {
  background: url(../../images/internet/s4.png);
}
.service .service-list .service-list6 .left {
  background: url(../../images/internet/s5.png);
}
.service .service-list .service-list7 .left {
  background: url(../../images/internet/s6.png);
}
.service .service-list .service-list8 .left {
  background: url(../../images/internet/s7.png);
}
.service .service-list .service-list8 .right {
  height: 100px;
  line-height: 34px;
  padding-top: 39px;
}
.service .service-list .service-list9 .left {
  background: url(../../images/internet/s8.png);
}
.service .service-list .service-list9 .right {
  height: 100px;
  line-height: 34px;
  padding-top: 39px;
}
.service .service-list .service-list10 .left {
  background: url(../../images/internet/s9.png);
}
.service .service-list .service-list10 .right {
  height: 100px;
  line-height: 34px;
  padding-top: 39px;
}
.service .service-list11 {
  margin-top: 20px;
  height: 455px;
}
.service .ser-h3 {
  font-size: 26px;
  line-height: 31px;
  color: #f08300;
  text-align: center;
  margin-top: 16px;
}
.create {
  width: 100%;
  height: 550px;
  padding-top: 30px;
  background-color: #fff8f2;
}
.create .cre-h {
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
  color: #666666;
  text-align: center;
}
.create .cre-h span {
  color: #f08300;
}
.create .cre-list {
  width: 1000px;
  height: 460px;
  margin: 30px auto 0;
}
.create .cre-list li {
  float: left;
  width: 429px;
  height: 190px;
  padding: 30px 33px 0 21px;
  background-color: #fff;
  border-radius: 8px;
  border: solid 1px #e5e5e5;
  margin-bottom: 10px;
}
.create .cre-list li .txt {
  width: 235px;
  height: 100%;
}
.create .cre-list li .txt h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
  color: #666666;
  margin-bottom: 18px;
}
.create .cre-list li .txt p {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 5px;
}
.create .cre-list li .txt p span,
.create .cre-list li .txt p b {
  font-size: 18px;
  font-weight: bold;
}
.create .cre-list li .txt p span {
  display: inline-block;
  margin-bottom: 5px;
}
.create .cre-list li .icon {
  width: 130px;
  height: 130px;
  margin-top: 15px;
}
.create .cre-list li .icon img {
  width: 100%;
  height: 100%;
}
.create .cre-list .ml {
  margin-left: 30px;
}
.member {
  height: 578px;
  padding-top: 40px;
}
.member .mem-tit {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  text-align: center;
}
.member .mem-tit span {
  color: #ff8409;
}
.member .mem-list {
  width: 100%;
  height: 100%;
  margin-top: 43px;
}
.member .mem-list li {
  float: left;
  height: 68px;
  border-right: 1px solid #e3e3e3;
  position: relative;
}
.member .mem-list li div {
  position: absolute;
}
.member .mem-list li .icon {
  top: 10px;
  left: 49px;
}
.member .mem-list li .txt {
  top: -12px;
  left: 120px;
}
.member .mem-list li .txt h3 {
  font-size: 24px;
  font-weight: bold;
  color: #666666;
  margin-bottom: 10px;
}
.member .mem-list li .txt p {
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}
.member .mem-list .m1 {
  width: 286px;
}
.member .mem-list .m1 .icon {
  width: 49px;
  height: 49px;
  background: url(../../images/internet/m1.png);
  left: 23px;
}
.member .mem-list .m1 .txt {
  left: 94px;
}
.member .mem-list .m2 {
  width: 313px;
}
.member .mem-list .m2 .icon {
  width: 50px;
  height: 46px;
  background: url(../../images/internet/m2.png);
}
.member .mem-list .m3 {
  width: 313px;
}
.member .mem-list .m3 .icon {
  width: 51px;
  height: 44px;
  background: url(../../images/internet/m3.png);
}
.member .mem-list .m4 {
  width: 285px;
  border-right: none;
}
.member .mem-list .m4 .icon {
  width: 50px;
  height: 49px;
  background: url(../../images/internet/m4.png);
}
