

.w100{
    width:100%;
    height: 570px;
    margin:0 auto;
    position:relative;
    #lunbo2{
        width: 100%;
        height:100%;
    }
}
#one2{
    width:100%;
    height:100%;
    overflow:hidden;
    li{
        float:left;
        width:100%;
        height:100%;
        display:none;
        img{
           width:100%;
           height:100%; 
        }
    }
    .i-banner{
        background: url(../../images/internet/banner1.png);
        background-size: 100% 100%;
    }
    .i-banner2{
        background: url(../../images/internet/banner2.png);
        background-size: 100% 100%;
    }
    .on{
        display:block;
    }
}
#two2{
    position:absolute;
    margin-left: -75px;
    left:50%;
    bottom:41px;
    li{
        float:left;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border:1px solid #dbdbdb;
        background:#dbdbdb;
        margin-left:30px;
        cursor: pointer;
        text-align:center; 
    }
    .on{
        border:1px solid #fdad4c;
        background:#fdad4c;
    }
}

 
.slider-page{display:none;}
.slider-page a{
    display: block;
    width: 28px;
    height: 62px;
    line-height: 62px;
    color: #999;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: -5px;
}
#left{
    position:absolute;
    left:5%;
    top:215px;
}
#right{position:absolute;
    right:5%;
    top:215px;
}
#lunbo2:hover .slider-page{display:block;}


//公共
.fam-h{
    
    color: #333333;
    text-align: center;
    h3{
        font-size: 38px;
        line-height: 38px;
    }
    p{
        width: 234px;
        height: 27px;
        background: url(../../images/internet/tit-d.png);
        margin: 10px auto 20px;
    }
}
//MUST孤独症家庭干预疗法
.family{
    height:766px;
    width:100%;
    padding-top: 42px;
    background: #fff;
    .fam-tit{
        font-size: 30px;
        font-weight: bold;
        line-height: 68px;
        color: #666666;
        text-align: center;
        span{
            color: #f08300;
        }
    }
    .fam-list{
        width: 100%;
        height:558px;
        margin: 0 auto;
        overflow: hidden;
        ul{
            width: 1230px;
        }
        li{
            width: 380px;
	        height: 100%;
            float: left;
            margin-right: 30px;
            .fam-img{
                width: 380px;
                height: 252px;   
            }
            .f1{
                background: url(../../images/internet/f1.png);
            }
            .f2{
                background: url(../../images/internet/f2.png);
            }
            .f3{
                background: url(../../images/internet/f3.png);
            }
            .fam-text{
                width: 100%;
                height:236px;
                padding: 35px 0;
                font-size: 26px;
                font-weight: bold;
                line-height: 48px;
                color: #666666;
                text-align: center;
                background-color: #fffaf5;
            }
        }
    }
}

//家庭干预疗法体系课程
.f-course{
    height: 548px;
    padding-top:32px;
    background-color: #fffaf5;
    .fc-h{
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        color: #666666;
        text-align: center;
        span{
            color: #f08300;
        }
    }
    .fc-h2{
        font-size: 20px;
        line-height: 20px;
        color: #666666;
        margin:8px auto 20px;
        text-align: center;
    }
    .fc-list{
        position: relative;
        li{
            font-size: 18px;
            line-height: 27px;
            color: #666666;
            position: absolute;
        }
        .left{
            width: 233px;
            height: 100px;
            background-color: #ffffff;
            border: solid 1px #ffc682;
            padding:18px 0 0 17px;
            top:1px;
            left:145px;
        }
        .right{
            width: 233px;
            height: 100px;
            background-color: #ffffff;
            border: solid 1px #ffc682;
            padding:18px 0 0 17px;
            top:68px;
            right:145px;
        }
        .cent{
           width: 661px;
           height:336px;
           top:0;
           left:270px;
           img{
               width:100%;
               height:100%;
           }
        }
    }
    .fc-t{
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        color: #666666;
        text-align: center;
        margin-top: 380px;
    }
}

//时间赛跑部分
.time2{
    height:725px;
    width:100%;
    padding-top:58px;
    background: #fff;
    .time-line{
        font-size: 24px;
        font-weight: bold;
        line-height: 45px;
        color: #ffb964;
        text-align: center;
        margin-bottom: 46px;
    }
    .time-tit{
        font-size: 30px;
        font-weight: bold;
        color: #666666;
        text-align: center;
        margin-bottom: 10px;
        span{
            color: #f08300
        }
    }
    .time-tit2{
        font-size: 20px;
        line-height: 22px;
        color: #666666;
        text-align: center;
    }
    .time-list{
        width: 1182px;
        height: 305px;
        margin-top: 18px;

        li{
            float: left;
            width: 560px;
            height:100%;
            margin-left: 60px;
            border-bottom: 6px solid #f76a31;
            &:first-child{
                margin-left: 0px;
            }
            div{
                float: left;
            }
            .time-img{
                width: 232px;
                height:100%;
            }
            .time1{
                background: url(../../images/internet/time1.png);
                background-size: 100% 100%;
            }
            .time22{
                background: url(../../images/internet/time2.png);
                background-size: 100% 100%;
            }
            .time-txt{
                width: 328px;
                height:100%;
                background-color: #fff0ef;
                .title {
                    width:206px;
                    height:53px;
                    line-height:53px;
                    text-align: center;
                    font-size: 29px;
                    font-weight: bold;
                    color: #ffffff;
                    margin:32px 64px 16px  64px;
                }
                p{
                    font-size: 26px;
                    font-weight: bold;
                    line-height: 44px;
                    color: #666666;
                    text-align: center;
                }
            }
            .time3{
                .title{
                    background: url(../../images/internet/time3.png);
                    background-size: 100% 100%;
                }
            }
            .time4{
                .title{
                    background: url(../../images/internet/time4.png);
                    background-size: 100% 100%;
                }
            }
        }
    }
}

// 星爸星妈的问题部分

.problem{
    width:100%;
    height: 1050px;
    padding-top: 30px;
    background-color: #fffaf5;
    .problem-content{
        width:1000px;
        height:100%;
        margin: 0 auto;
        position: relative;
        .pro-h{
            font-size: 30px;
            font-weight: bold;
            color: #666666;
            text-align: center;
            span{
                color: #f08300;
            }
        }
        .pro-c{
            width:100%;
            height:582px;
            position: relative;
            top:33px;
            .p-g{  
                cursor: pointer;
                border-radius: 50%;
                position: absolute;
                box-shadow: 1px 10px 3px 0px 
		                  rgba(50, 58, 142, 0.16);
                div{
                    position: absolute;
                    p{
                        text-align: center;
                        font-size: 28px;
                        font-weight: bold;
                        line-height: 34px;
                        color: #ffffff;
                    }
                }
               
            }
            .p1{
                top:110px;
                left:-9px;
                width: 162px;
                height: 162px;
                background-color: #ff6158;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:50px;
                    left:24px;
                }
            }
            .p2{
                top:266px;
                left:92px;
                width: 148px;
                height: 149px;
                background-color: #50b9ec;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:42px;
                    left:18px;
                }
            }
            .p3{
                top:432px;
                left:163px;
                width: 151px;
                height: 150px;
                background-color: #ff4d8c;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:44px;
                    left:19px;
                }
            }
            .p4{
                top:0px;
                left:154px;
                width: 186px;
                height: 186px;
                background-color: #70d49c;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:61px;
                    left:22px;
                }
            }
            .p5{
                top:196px;
                left:247px;
                width: 138px;
                height: 137px;
                background-color: #fd6967;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:37px;
                    left:41px;
                }
            }
            .p6{
                top:65px;
                left:367px;
                width: 155px;
                height: 156px;
                background-color: #ffc941;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:47px;
                    left:22px;
                }
            }
            .p7{
                top:274px;
                left:387px;
                width: 161px;
                height: 161px;
                background-color: #70d49c;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:48px;
                    left:39px;
                }
            }
            .p8{
                top:137px;
                right:268px;
                width: 174px;
                height: 174px;
                background-color: #ff6158;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:55px;
                    left:31px;
                }
            }
            .p9{
                top:344px;
                right:217px;
                width: 155px;
                height: 156px;
                background-color: #ffc941;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:46px;
                    left:21px;
                }
            }
            .p10{
                top:107px;
                right:26px;
                width: 195px;
                height: 196px;
                background-color: #fa4da3;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:49px;
                    left:27px;
                }
            }
            .p11{
                top:362px;
                right:-7px;
                width: 152px;
                height: 152px;
                background-color: #8d79ff;
                transform: scale(1);
                &:hover{
                    transform: scale(1.2);  
                }
                div{
                    top:44px;
                    left:20px;
                }
            }
            .p-bg{
                width: 286px;
                height: 464px;
                position: absolute;
                top:477px;
                left:368px;
                background: url(../../images/internet/dengpao.png);
            }
        }
    }
    
}

//专家讲座
.expert2{
    height:610px;
    width:100%;
    padding-top: 38px;
    background: #fff;
    .ex-tit{
        font-size: 30px;
        font-weight: bold;
        color: #666666; 
        text-align: center;
        span{
            color: #f08300;
        }
    }
    .ex-tit2{
        font-size: 20px;
        line-height: 22px;
        color: #666666;
        text-align: center;
        margin-top: 8px;
    }
    .ex-list{
        width: 903px;
        height: 340px;
        margin: 36px auto 0;
        li{
            float: left;
        }
        .ex-img{
            width: 317px;
            height: 340px;
            background: url(../../images/internet/expert.png);
        }
        .ex-text{
            margin-top: 50px;
            .ex-h{
                width: 566px;
                height:76px;
                padding:14px 0 0 20px;
                border-top:4px solid #cfcdca;
                background: #fffbf6;
                p{
                    font-size: 33px;
                    line-height: 38px;
                    color: #231815;
                }
                div{
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: #231815;
                }
            }
            .ex-p{
                padding-left: 20px;
                font-size: 18px;
                line-height: 33px;
                color: #999999;
                margin-top: 12px;
            }
        }
    }
}

//售后服务
.service{
    height:1705px;
    width: 100%;
    background: #fff;
    .ser-h{
        font-size: 30px;
        font-weight: bold;
        color: #666666;
        text-align: center;
        margin-top: 38px;
        span{
            color: #f08300;
        }
    }
    .ser-h2{
        font-size: 20px;
        line-height: 22px;
        color: #666666;
        text-align: center;
        margin: 10px 0 30px 0;
    }
    .service-list{
    
        width:1000px;
        height:910px;
        margin: 0 auto ;
        .service-list2{
            height:141px;
            width:100%;
            margin-bottom: 10px;
            position: relative;
            li{
                position: absolute;
                top:0;
            }
            .left{
                width: 238px;
                height: 141px;
                background-color: #a2c30d;
                margin-right: 10px;
                left: 0;
                z-index:100;
                .text{
                    font-size: 24px;
                    line-height: 41px;
                    font-weight: bold;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 80px;
                    padding-right: 18px;
                    }         
            }
            .right{
                right: 0;
                padding-left: 61px;
                padding-right:125px;
                width: 594px;
                height: 139px;
                border: 1px solid #dedede;
                font-size: 22px;
                line-height:141px;
                display: table-cell; 
                vertical-align:middle;
                color: #333333;                  
            }         
        }   
        .service-list22{
            .left{
                background: url(../../images/internet/s1.png);
                background-size: 100% 100%;
            }
            .right{
                height:100px;
                line-height: 34px;
                padding-top:39px;         
            }
        }
        .service-list3{
            .left{
                background: url(../../images/internet/s2.png);
                background-size: 100% 100%;
            }
            .right{
                height:100px;
                line-height: 34px;
                padding-top:39px; 
                          
            }
        }
        .service-list4{
            .left{
                background: url(../../images/internet/s3.png);
                background-size: 100% 100%;
            }  
            .right{
                height:100px;
                line-height: 34px;
                padding-top:39px; 
                          
            }
        }
        .service-list5{
            .left{
                background: url(../../images/internet/s4.png);
                background-size: 100% 100%;
            } 
        }
        .service-list6{
            .left{
                background: url(../../images/internet/s5.png);
                background-size: 100% 100%;
            }     
        }
        .service-list7{
            .left{
                background: url(../../images/internet/s6.png);
                background-size: 100% 100%;
            } 
        }
        .service-list8{
            .left{
                background: url(../../images/internet/s7.png);
                background-size: 100% 100%;
            }
            .right{
                height:100px;
                line-height: 34px;
                padding-top:39px;         
            }
        }
        .service-list9{
            .left{
                background: url(../../images/internet/s8.png);
                background-size: 100% 100%;
            }
            .right{
                height:100px;
                line-height: 34px;
                padding-top:39px;         
            }
        }
        .service-list10{
            .left{
                background: url(../../images/internet/s9.png);
                background-size: 100% 100%;
            }
            .right{
                height:100px;
                line-height: 34px;
                padding-top:39px;         
            }
        }
    }
    .service-list11{
        margin-top: 20px;
        height:455px;
    }
    .ser-h3{
        font-size: 26px;
        line-height: 31px;
        color: #f08300;
        text-align: center;
        margin-top: 16px;
    }
}

//用心打造

.create{
    width: 100%;
    height: 550px;
    padding-top:30px;
    background-color: #fff8f2;
    .cre-h{
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        color: #666666;
        text-align: center;
        span{
            color: #f08300; 
        }
    }
    .cre-list{
        width:1000px;
        height:460px;
        margin: 30px auto 0;
        li{
            float: left;
            width: 429px;
            height: 190px;
            padding: 30px 33px 0 21px;
            background-color: #fff;
            border-radius: 8px;
            border: solid 1px #e5e5e5;
            margin-bottom: 10px;
            .txt{
                width: 235px;
                height:100%;
                h3{
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 22px;
                    color: #666666;
                    margin-bottom:18px;
                }
                p{
                    font-size: 16px;
                    line-height: 25px;
                    color: #999999;
                    margin-bottom: 5px;
                    span,b{
                        font-size: 18px;
                        font-weight: bold;
                    }
                    span{
                        display: inline-block;
                        margin-bottom:5px;
                    }
                }
            }
            .icon{
                width: 130px;
                height: 130px;
                margin-top: 15px;
                position: relative;
                img{
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height:100%;
                }
            }
           
        } 
        .ml{
            margin-left:30px;
        }
    }
}

//年度会员
.member{
    height:350px;
    padding-top:40px;
    background: #fff;
    .mem-tit{
        font-size: 30px;
        font-weight: bold;
        color: #666666;
        text-align: center;
        span{
            color: #ff8409;
        }
    }
    .mem-list{
        width:100%;
        height:100%;
        margin-top: 43px;
        li{

            float: left;
            height:68px;
            border-right: 1px solid #e3e3e3;
            position: relative;
            div{
                position: absolute;
            }
            .icon{
                 top:10px;
                 left:49px;
            }
            .txt{
                top:-12px;
                left:120px;
                h3{
                    font-size: 24px;
                    font-weight: bold;
                    color: #666666;
                    margin-bottom:10px;
                }
                p{
                    font-size: 16px;
                    line-height: 20px;
                    color: #999999;
                }
            }
        }
        .m1{
            width:286px; 
            .icon{
                width: 49px;
                height:49px;
                background: url(../../images/internet/m1.png);
                background-size: 100% 100%;
                left:23px;    
            }  
            .txt{   
                left:94px;
            }
        }
        .m2{
            width: 313px;
            .icon{
                width: 50px;
                height:46px;
                background: url(../../images/internet/m2.png);
                background-size: 100% 100%;
            } 
        }
        .m3{
            width: 313px;
            .icon{
                width: 51px;
                height:44px;
                background: url(../../images/internet/m3.png);
                background-size: 100% 100%;
            } 
        }
        .m4{
            width:285px;
            border-right: none;
            .icon{
                width: 50px;
                height:49px;
                background: url(../../images/internet/m4.png);
                background-size: 100% 100%;
            } 
        }
    }
}

@media screen and (max-width: 1024px) {
    html {
      font-size: .1rem;
      opacity: 0;
    }
    .content{
        width: 7.3rem;
        height: 100%;
        margin:  0 auto;
    }

    //轮播图
    
    .w100{
        height: 4.18rem;
    }
    #one2{
        .i-banner{
            background: url(../../img/internet/banner1.png);
            background-size: 100% 100%;
        }
        .i-banner2{
            background: url(../../img/internet/banner2.png);
            background-size: 100% 100%;
        }
    }
    #two2{
        margin-left: -.75rem;
        bottom:.2rem;
        li{
            width: .18rem;
            height: .18rem;
            border:1px solid #dbdbdb;
            margin-left:.30rem;
        }
    }
     
    .slider-page{display:none;}

    //公共
    .fam-h{
        h3{
            font-size: .30rem;
            line-height: .30rem;
        }
        p{
            width: 2.34rem;
            height: .27rem;
            background: url(../../images/internet/tit-d.png);
            background-size: 100% 100%;
            margin: .10rem auto .20rem;
        }
    }

    //MUST孤独症家庭干预疗法
    .family{
        height:5.26rem;
        width:100%;
        padding-top: .3rem;
        .fam-tit{
            font-size:.26rem;
            line-height: .26rem;
        }
        .fam-list{
            width: 100%;
            height:3.6rem;
            margin: .2rem auto 0;
            overflow: hidden;
            ul{
                width: 7.5rem;
            }
            li{
                width: 2.3rem;
                margin-right: .2rem;
                .fam-img{
                    width: 2.30rem;
                    height: 1.98rem;  
                }
                .f1{
                    background: url(../../img/internet/f1.png);
                    background-size: 100% 100%;
                }
                .f2{
                    background: url(../../img/internet/f2.png);
                    background-size: 100% 100%;
                }
                .f3{
                    background: url(../../img/internet/f3.png);
                    background-size: 100% 100%;
                }
                .fam-text{
                    height:1.38rem;
                    padding: .12rem 0;
                    font-size: .18rem;
                    line-height: .28rem;
                }
            }
        }
    }

        
    //家庭干预疗法体系课程
    .f-course{
        height: 4.5rem;
        padding-top:.3rem;
        .fc-h{
            font-size: .26rem;
            line-height: .26rem;
        }
        .fc-h2{
            font-size: .20rem;
            line-height: .20rem;
            margin:0.08rem auto .20rem;
        }
        .fc-list{
            position: relative;
            li{
                font-size: .16rem;
                line-height: .22rem;
                color: #666666;
                position: absolute;
            }
            .left{
                width: 1.84rem;
                height: .78rem;
                background-color: #ffffff;
                border: solid 1px #ffc682;
                padding:.18rem 0 0 .17rem;
                top:0;
                left:0;
            }
            .right{
                width: 2.05rem;
                height: .78rem;
                background-color: #ffffff;
                border: solid 1px #ffc682;
                padding: .18rem 0 0 .05rem;
                top: .54rem;
                right: 0;
            }
            .cent{
                width: 5.32rem;
                height:2.7rem;
                top:0;
                left:.99rem;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
        .fc-t{
            font-size: .22rem;
            line-height: .30rem;
            margin-top: 3.07rem;
        }
    }

    
    //时间赛跑部分
    .time2{
        height:9.56rem;
        width:100%;
        padding-top:.2rem;
        .time-line{
            font-size: .22rem;
            line-height: .44rem;
            margin-bottom: .2rem;
        }
        .time-tit{
            font-size: .26rem;
            line-height: .26rem;
            margin-bottom: .16rem;
        }
        .time-tit2{
            font-size: .20rem;
            line-height: .2rem;
        }
        .time-list{
            width: 100%;
            height: 6.32rem;
            margin-top: .18rem;

            li{
                float: left;
                width: 100%;
                height: 3.05rem;
                margin-left:0;
                margin-bottom: .1rem;
                border-bottom: 0.06rem solid #f76a31;
                div{
                    float: left;
                }
                .time-img{
                    width: 3.07rem;
                    height: 100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                .time1{
                    background: url(../../img/internet/time1.png);
                    background-size: 100% 100%;
                }
                .time22{
                    background: url(../../img/internet/time2.png);
                    background-size: 100% 100%;
                }
                .time-txt{
                    width: 4.23rem;
                    height:100%;
                    .title {
                        width:2.06rem;
                        height:.53rem;
                        line-height:.53rem;
                        font-size: .29rem;
                        margin:.24rem 1.16rem .16rem  1.07rem;
                    }
                    p{
                        font-size: .26rem;
                        line-height: .44rem;
                    }
                }
            }
        }
    }
    
    // 星爸星妈的问题部分

    .problem{
        height: 7.4rem;
        padding-top: .2rem;
        .problem-content{
            width:7.1rem;
            .pro-h{
                font-size: .26rem;
            }
            .pro-c{
                width:100%;
                height:4.14rem;
                top:.20rem;
                .p-g{  
                    box-shadow: 1px .10rem .03rem 0px 
                    rgba(50, 58, 142, 0.16);
                    div{
                        p{
                            text-align: center;
                            font-size: .16rem;
                            line-height: .24rem;
                        }
                    }
                
                }
                .p1{
                    top:.77rem;
                    left:0;
                    width: 1.15rem;
                    height: 1.16rem;
                    div{
                        top:.38rem;
                        left:.23rem;
                    }
                }
                .p2{
                    top:1.87rem;
                    left:.8rem;
                    width: 1.05rem;
	                height: 1.06rem;
                    div{
                        top:.32rem;
                        left:.18rem;
                    }
                }
                .p3{
                    top:3.05rem;
                    left:1.2rem;
                    width: 1.07rem;
	                height: 1.07rem;
                    div{
                        top:.32rem;
                        left:.19rem;
                    }
                }
                .p4{
                    top:0px;
                    left:1.14rem;
                    width: 1.32rem;
                    height: 1.32rem;
                    div{
                        top:.44rem;
                        left:.24rem;
                    }
                }
                .p5{
                    top:1.38rem;
                    left:1.80rem;
                    width: .98rem;
	                height: .98rem;
                    div{
                        top:.28rem;
                        left:.32rem;
                    }
                }
                .p6{
                    top:.45rem;
                    left:2.65rem;
                    width: 1.11rem;
	                height: 1.11rem;
                    div{
                        top:.34rem;
                        left:.22rem;
                    }
                }
                .p7{
                    top:1.93rem;
                    left:2.87rem;
                    width: 1.14rem;
                    height: 1.14rem;
                    div{
                        top:.36rem;
                        left:.32rem;
                    }
                }
                .p8{
                    top:.96rem;
                    right:1.94rem;
                    width: 1.23rem;
	                height: 1.23rem;
                    div{
                        top:.4rem;
                        left:.28rem;
                    }
                }
                .p9{
                    top:2.43rem;
                    right:1.58rem;
                    width: 1.11rem;
	                height: 1.10rem;
                    div{
                        top:.34rem;
                        left:.22rem;
                    }
                }
                .p10{
                    top:.76rem;
                    right:.23rem;
                    width: 1.39rem;
	                height: 1.38rem;
                    div{
                        top:.36rem;
                        left:.26rem;
                    }
                }
                .p11{
                    top:2.56rem;
                    right:0;
                    width: 1.07rem;
                    height: 1.08rem;
                    div{
                        top:.32rem;
                        left:.2rem;
                    }
                }
                .p-bg{
                    width: 2.02rem;
                    height:3.28rem;
                    position: absolute;
                    top:3.34rem;
                    left:2.62rem;
                    background: url(../../img/internet/dengpao.png);
                    background-size: 100% 100%;
                }
            }
        }
        
    }

    
    //专家讲座
    .expert2{
        height:5.2rem;
        padding-top: .2rem;
        .ex-tit{
            font-size: .26rem;
        }
        .ex-tit2{
            font-size: .2rem;
            line-height: .2rem;
            margin-top: .16rem;
        }
        .ex-list{
            width:100%;
            height: 3.40rem;
            margin: .16rem auto 0;
            .ex-img{
                width: 1.8rem;
                height: 3.40rem;
                background: url(../../img/internet/expert.png);
                background-size: 100% 100%;
               
            }
            .ex-text{
                margin-top: .50rem;
                .ex-h{
                    width: 5.12rem;
                    height:.76rem;
                    padding:.14rem 0 0 .20rem;
                    border-top:0.04rem solid #cfcdca;
                    p{
                        font-size: .33rem;
                        line-height: .38rem;
                    }
                    div{
                        font-size: .18rem;
                        letter-spacing: 1px;
                    }
                }
                .ex-p{
                    padding-left: .30rem;
                    font-size: .16rem;
                    line-height: .33rem;
                    margin-top: .12rem;
                }
            }
        }
    }
    //售后服务
    .service{
        height:16.40rem;
        padding-top: .2rem;
        .ser-h{
            font-size: .26rem;
            margin-top: .17rem;
        }
        .ser-h2{
            font-size: .20rem;
            line-height: .20rem;
            margin: .15rem 0 .20rem 0;
        }
        .service-list{
        
            width:100%;
            height:9.07rem;
            .service-list2{
                height:1.41rem;
                margin-bottom: .10rem;
                li{
                    position: absolute;
                    top:0;
                }
                .left{
                    width: 2.38rem;
                    height: 1.41rem;
                    margin-right: 0;
                    left: 0;
                    z-index:100;
                    .text{
                        font-size: .24rem;
                        line-height: .41rem;
                        margin-top: .80rem;
                        padding-right: .18rem;
                        }         
                }
                .right{
                    right: 0;
                    padding: 0 .2rem 0 .4rem;
                    width: 4.61rem;
                    height: 1.41rem;
                    border: none;
                    font-size: .18rem;
                    line-height:1.41rem;
                    background:url(../../img/internet/border-bg.png); 
                    background-size: 100% 100%;               
                }         
            }   
            .service-list22{
                .right{
                    height:1.01rem;
                    line-height: .34rem;
                    padding-top:.4rem;         
                }
            }
            .service-list3{
                .right{
                    height:1.21rem;
                    line-height: .34rem;
                    padding-top:.20rem; 
                            
                }
            }
            .service-list4{
                .right{
                    height:1.21rem;
                    line-height: .34rem;
                    padding-top:.20rem; 
                            
                }
            }
            .service-list8{
                .right{
                    height:1.01rem;
                    line-height: .34rem;
                    padding-top:.4rem;         
                }
            }
            .service-list9{
                .right{
                    height:1.21rem;
                    line-height: .34rem;
                    padding-top:.20rem; 
                            
                }
            }
            .service-list10{
                .right{
                    height:1.01rem;
                    line-height: .34rem;
                    padding-top:.4rem;         
                }
            }
        }
        .service-list11{
            margin-top: .20rem;
            height:4.55rem;
        }
        .ser-h3{
            font-size: .24rem;
            line-height: .31rem;
            margin-top: .16rem;
        }
    }

    //用心打造
    .create{
        height: 4.05rem;
        padding-top:.2rem;
        .cre-h{
            font-size: .26rem;
            line-height: .26rem;
        }
        .cre-list{
            width:100%;
            height:3.32rem;
            margin: .17rem auto 0;
            li{
                width: 3.25rem;
                height: 1.41rem;
                padding: .22rem .1rem 0 .15rem;
                border-radius: 0.08rem;
                border: solid 1px #e5e5e5;
                margin-bottom: 0.06rem;
                .txt{
                    width: 2.25rem;
                    height:100%;
                    h3{
                        font-size: .18rem;
                        line-height: .2rem;
                        margin-bottom:.05rem;
                    }
                    p{
                        font-size: .14rem;
                        line-height: .2rem;
                        margin-bottom: .03rem;
                        span,b{
                            font-size: .16rem;
                        }
                        span{
                            margin-bottom:.05rem;
                        }
                    }
                }
                .icon{
                    width: .97rem;
                    height: .97rem;
                    margin-top: .10rem;
                }
            
            } 
            .ml{
                margin-left:.2rem;
            }
        }
    }
    //年度会员
    .member{
        height:3.85rem;
        padding-top:.20rem;
        .mem-tit{
            font-size: .26rem;
        }
        .mem-list{
            margin-top: .30rem;
            li{
                height:.68rem;
                border-right: 1px solid #e3e3e3;
                margin-bottom: .28rem;
                div{
                    position: absolute;
                }
                .icon{
                     top:.10rem;
                }
                .txt{
                    top:-.06rem;
                    h3{
                        font-size: .2rem;
                        line-height: .2rem;
                        margin-bottom:.10rem;
                    }
                    p{
                        font-size: .16rem;
                        line-height:.20rem;
                    }
                }
            }
            .m1{
                width: 3.60rem; 
                .icon{
                    width: .49rem;
                    height:.49rem;
                    left:1.23rem;    
                }  
                .txt{   
                    left:1.93rem;
                }
            }
            .m2{
                width: 3.6rem;
                border-right: none;
                .icon{
                    width: .50rem;
                    height:.46rem;
                    left:.6rem; 
                } 
                .txt{   
                    left:1.31rem;
                }
            }
            .m3{
                width: 3.60rem;
                .icon{
                    width: .51rem;
                    height:.44rem;
                    left:1.23rem;  
                } 
                .txt{   
                    left:1.93rem;
                }
            }
            .m4{
                width: 3.60rem;
                border-right: none;
                .icon{
                    width: .50rem;
                    height:.49rem;
                    left:.6rem; 
                } 
                .txt{   
                    left:1.31rem;
                }
            }
        }
    }

}

