.love-bg{
    width: 100%;
    height: 40px;
    background: #e94f65;
}

//bannner
.l-banner{
    width: 100%;
    height: 480px;
    background: url(../../images/aboutus/banner.png);
}

//选项卡

.l-tab{
    width: 100%;
    height: 100%;
    position: relative;
    .tab-bg{
        width: 100%;
        height: 50px;
        background: #e94f65;
        margin-top: 120px;
    }
    .tab-c{
      
        font-size: 25px;
        line-height: 27px;
        color: #ffffff;
        width: 348px;
        position: absolute;
        top:-111px;
        left: 50%;
        margin-left: -174px;
        
        li{
            float: left;
            width: 158px;
            height: 158px;
            border: 1px solid #e94f65;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;
            &:first-child{
                margin-right: 25px;
            }
            div{
                width: 84px;
                height: 82px;
                background: url(../../images/aboutus/z2-2.png);
                margin:  25px auto 10px;
            }
            p{
                font-family: 'STZhongsong';
            }
        }
        .tab_on{
               background: #e94f65;
               div{
                    background: url(../../images/aboutus/z2-1.png);
               }
        }
    }
    //公共
    .v-header{
        width: 100%;
        height: 230px;
        background: #c7f9f9;
        margin-top: 60px;
        border-radius: 20px 0 0 20px;
        .v-icon{
            width: 230px;
            height: 230px;
            background: #e94f65;
            border-radius: 20px;
            div{
                width: 121px;
                height: 116px;
                background: url(../../images/aboutus/z3-1.png);
                margin: 36px  auto 16px;
            }
            p{
                font-family: 'STZhongsong';
                font-size: 36px;
                text-align: center;
                color: #fff;
            }
        }
        .v-txt{
            width: 970px;
            height: 155px;
            padding-top: 75px;
            text-align: center;
            h3{
                font-family: 'STZhongsong';
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 22px;
            }
            p{
                font-family: 'STZhongsong';
                font-size: 36px;
                line-height: 36px;
            }
        }
    }
    .volunteer{
        width: 100%;
        height: 2452px;
       
        .v-list{
            width: 100%;  
            height: 100%;
            li{
                margin-top: 47px;
                
            }
            .tit{
                width: 100%;
                height: 37px;
                padding-top: 44px;
                background: url(../../images/aboutus/z4-1.png);
                position: relative;
                div{
                    font-family: 'STZhongsong';
                    font-size: 30px;
                    line-height: 30px;
                }
                .t1{
                    margin:0 59px 0 93px;
                    color: #fff;
                }
                .t3{
                    width: 200px;
                    position: absolute;
                    top:-22px;
                    right: 51px;
                    a{
                        width: 100%;
                        height: 100%;
                    }
                    span{
                        width: 66px;
                        height: 60px;
                        background: url(../../images/aboutus/z4-2.png);
                        display: block;
                        margin:  0 auto;
                    }
                    p{
                        width: 200px;
                        height: 37px;
                        background: #e94f65;
                        border-radius: 60px;
                        text-align: center;
                        line-height: 37px;
                        font-family: 'STZhongsong';
                        font-size: 24px;
                        color: #fff;
                    }
                }
            }
            .list-c{
                margin-left: 50px;
                li{
                    font-family: 'STZhongsong';
                    font-size: 24px;
                    line-height: 24px;
                    margin-top: 28px;
                    span{
                        font-family: 'STZhongsong';
                        color: #e94f65;
                    } 
                }
                div{
                    width: 920px;
                    margin-left: 191px;
                    p{
                        font-family: 'STZhongsong';
                        font-size: 24px;
                        line-height: 36px;
                        margin-top: 12px;
                    }
                    .small{
                        font-size: 18px;
                        color: #5d5d5d;
                        line-height: 24px;
                    }
                }
               
            }
        }
        .l-table{
            width: 100%;
            height: 500px;
            padding-top: 50px;
            background: #e94f65;
            margin-top: 76px; 
            position: relative;
        }
        .entry{
            width: 1000px;
            height: 440px;
            margin:  0 auto ;
            .theader{
                width: 500px;
                height: 83px;
                line-height: 83px;
                text-align: center;
                font-family: 'STZhongsong';
                font-size: 50px;
                color: #ffffff;
                margin: 0 auto;
                border-radius: 60px;
                position: absolute;
                left: 50%;
                margin-left: -250px;
                top:-35px;
                background: #e94f65;
            }
            .tbody{
                width:100%;
                height:100%;
                .table{
                    border-right:2px solid #e94f65;
                    border-bottom:2px solid #e94f65;
                    tr{ 
                        height: 40px;
                        background: #f8cbd1;
                        input,textarea{
                            background: #f8cbd1;
                            width: 300px;
                            font-size: 14px;
                        }
                        .w1{
                            width: 200px;
                        }
                        .w2{
                            width: 290px;
                            padding-left: 10px;
                        } 
                        td{
                            border-left:2px solid #e94f65;
                            border-top:2px solid #e94f65;
                            font-size: 18px;
                            vertical-align: middle;
                            text-align: center;
                            color: #333333;
                            input{
                                height:100%;
                            }
                            textarea{
                                background: #f8cbd1;
                                height: 38px;
                                width: 300px;
                        }  
                        .experience{width: 800px;}
                    } 
                }
                
                }
                .t-txt{
                    width: 980px;
                    font-size: 18px;
                    color: #ffffff;
                    margin:10px 0 0 6px;
                    .big{
                        font-size: 24px;
                        font-family: 'STZhongsong';
                    }
                    p{
                        font-family: 'STZhongsong'; 
                    }
                }
                .submit{
                    width: 300px;
                    height: 55px;
                    background: #fff;
                    position: absolute;
                    bottom:63px;
                    left:50%;
                    margin-left: -150px;
                    font-size: 36px;
                    line-height: 55px;
                    color: #e94f65;
                    border-radius: 60px;
                    text-align: center;
                    font-family: 'STZhongsong';
                }
                
            }

        }
    
    }

    .donation{
        display: none;
        .v-header{
            width: 100%;
            height: 230px;
            background: #f7f5bc;
        }
        .fund{
            height: 1160px;
            .fund-h{
                height: 182px;
                border-bottom: 5px solid #e94f65; 
                margin-top:  40px;
                .fund-icon{
                    width: 231px;
                    height: 100%;
                    margin: 0 50px 0 485px;
                    p{
                        width: 121px;
                        height: 106px;
                        background: url(../../images/aboutus/jz-1.png);
                        margin: 0 auto;
                    }
                    div{
                        width: 231px;
                        height: 81px;
                        font-family: 'STZhongsong';
                        font-size: 36px;
                        line-height: 81px;
                        color: #ffffff;
                        text-align: center;
                        border-radius: 20px;
                        background: #e94f65;
                    }

                }
                .fund-txt{
                    width: 414px;
                    font-family: 'STZhongsong';
                    font-size: 24px;
                    line-height: 36px;
                    color: #e94f65;
                    margin-top: 20px;
                }
            }
            .fund-c{
                width: 1000px;
                height: 835px;
                margin:  0 auto;
                ul{
                    width: 100%;
                    height: 362px;
                    margin-top: 40px;
                    .f-img{
                        width:241px;
                        height: 348px;
                        img{
                            width:100%;
                            height: 100%;
                        }
                    }
                    .f-text{
                        width: 742px;
                        font-size: 20px;
                        line-height: 36px;
                        p{
                            margin-bottom: 14px;
                            text-indent: 2em;
                        }
                    }
                }
                .f-news{
                    width: 100%;
                    height: 430px;
                    margin-top: 30px;
                    h3{
                        width:100%;
                        height: 50px;
                        background: #e94f65;
                        font-size: 36px;
                        line-height: 50px;
                        color: #ffffff;
                        text-align: center;
                    }
                }
                .table2{
                    width: 100%;
                    height: 186px;
                    border-right:2px solid #fff;
                    border-bottom:2px solid #fff;
                    font-size: 20px;
                    margin-top: 27px;
                    tr{
                        height: 60px;
                        line-height: 60px;
                        text-align: center; 
                        td{
                            border-left:2px solid #fff;
                            border-top:2px solid #fff;
                        }
                        span{
                            color: #e94f65;
                            font-size: 24px;
                        }
                    }
                   
                    .odd{
                        background: #fdedef;
                    }
                    .even{
                        background: #fbdce0;
                    }
                    .f-w1{
                        width: 111px;
                    }
                    .f-w2{
                        width: 382px;
                    }
                    .f-w3{
                        width: 76px;
                    }
                    .f-w4{
                        width: 418px;
                    }
                }
                .notice{
                    font-size: 20px;
                    line-height: 36px;
                    margin-top: 22px;
                    .tit{
                        font-size: 24px;
                    }
                }
            }
            .table3{
                width: 100%;
                height: 186px;
                border-right:2px solid #fff;
                border-bottom:2px solid #fff;
                font-family: 'STZhongsong';
                font-size: 24px;
                margin-top: 58px;
                tr{
                    height: 60px;
                    line-height: 60px;
                    text-align: center; 
                    background: #fbdce0;
                    td{
                        width: 300px;
                        border-top:2px solid #fff;
                    }
                    .color{
                        background: #fdedef;
                    }
                    .color2{
                        background: #f08393;
                    }
                    span{
                        color: #e94f65;
                        font-size: 24px;
                    }
                }
                .blod{
                    background: #eb6074;
                    font-size: 30px;  
                }
               
                .odd{
                    background: #fdedef;
                }
                .even{
                    background: #fbdce0;
                }
            }
        }
        .goods{
            height: 1082px;
            .fund-h{
                margin-top: 0;
            }
        }
    }  
}