
.activity{
    padding:40px 0 120px;
    .act-h{
        font-size: 38px;
        line-height: 38px;
        color: #333333;
        text-align: center;
        position: relative;
        padding-left:60px;
        span{
            width: 38px;
            height:33px;
            position: absolute;
            top:4px;
            left:502px;
            background: url(../../images/news/a1.png);
            background-size: 100% 100% ;
        }
    }
    .fresh{
        span{
            width: 36px;
            height:36px;
            top: 1px;
            left: 507px;
            background: url(../../images/news/f1.png);
            background-size: 100% 100% ;
        }
    }
    .industry{
        span{
            width: 40px;
            height:30px;
            background: url(../../images/news/i1.png);
            background-size: 100% 100% ;
        }
    }
    .media{
        span{
            top:2px;
            width: 40px;
            height:36px;
            background: url(../../images/news/m1.png);
            background-size: 100% 100% ;
        }
    }
    .act-list{
        height:100%;
        width: 100%;
        overflow: hidden;
        margin-top:20px;
        ul{
            width:1221px;
        }
        li{
            float: left;
            height:390px;
            width: 386px;
            margin-right:21px;
            .img{
                width:100%;
                height: 272px;
                img{
                    width: 100%;
                    height:100%;
                }
            }
            .text{
                width: 100%;
                height:118px;
                background: #fff;
                h3{
                    font-size: 20px;
                    line-height: 23px;
                    color: #333333;
                    padding-right: 15px;
                    padding-top: 20px;
                }
                p{
                    font-size: 16px;
                    line-height: 36px;
                    color: #999999;
                    span{
                        margin-right: 40px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    #page-table2{
        margin: 51px 0  0px 853px;
    }
}

@media screen and (max-width: 1024px) {
    .activity{
        padding:.08rem 0 .5rem;
        .act-h{
            font-size:.3rem;
            line-height: .3rem;
            padding-left:.46rem;
            span{
                width: .38rem;
                height:.33rem;
                position: absolute;
                top:-0.03rem;
                left:2.81rem;
            }
        }
        .fresh{
            span{
                width: .36rem;
                height:.36rem;
                top:-0.06rem;
                left: 2.86rem;
            }
        }
        .industry{
            span{
                top:.01rem;
                width: .40rem;
                height:.30rem;
            }
        }
        .media{
            span{
                top:-0.06rem;
                width: .40rem;
                height:.36rem;
                
            }
        }
        .act-list{
            height:100%;
            width: 7.1rem;
            overflow: hidden;
            margin:.20rem auto 0;
            ul{
                width:7.3rem;
            }
            li{
                width: 3.54rem;
                height:3.36rem;
                margin-right:.1rem;
                margin-bottom: .2rem;
                .img{
                    height: 2.50rem;
                    img{
                        width: 100%;
                        height:100%;
                    }
                }
                .text{
                    height:.90rem;
                    h3{
                        font-size: .20rem;
                        line-height: .26rem;
                        padding-right: 0;
                        padding-top: 0;
                        margin-top: .14rem;
                    }
                    p{
                        font-size: .16rem;
                        line-height: .16rem;
                        margin-top: .07rem;
                        span{
                            margin-right: .40rem;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        #page-table2{
            margin: .51rem 0  0px 3.68rem;
        }
    }
    
}