@import '../public/reset.css';
.activity {
  padding: 40px 0 126px;
}
.activity .act-h {
  font-size: 38px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  position: relative;
  padding-left: 60px;
}
.activity .act-h span {
  width: 38px;
  height: 33px;
  position: absolute;
  top: 4px;
  left: 502px;
  background: url(../../images/news/a1.png);
}
.activity .fresh span {
  width: 36px;
  height: 36px;
  top: 1px;
  left: 507px;
  background: url(../../images/news/f1.png);
}
.activity .industry span {
  width: 40px;
  height: 30px;
  background: url(../../images/news/i1.png);
}
.activity .media span {
  top: 2px;
  width: 40px;
  height: 36px;
  background: url(../../images/news/m1.png);
}
.activity .act-list {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.activity .act-list ul {
  width: 1221px;
}
.activity .act-list li {
  float: left;
  height: 390px;
  width: 386px;
  margin-right: 21px;
  background: #666;
}
.activity .act-list li .img {
  width: 100%;
  height: 272px;
}
.activity .act-list li .img img {
  width: 100%;
  height: 100%;
}
.activity .act-list li .text {
  width: 100%;
  height: 118px;
  background: #fff;
}
.activity .act-list li .text h3 {
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  padding-right: 15px;
  padding-top: 20px;
}
.activity .act-list li .text p {
  font-size: 16px;
  line-height: 36px;
  color: #999999;
}
.activity .act-list li .text p span {
  margin-right: 40px;
  display: inline-block;
}
.activity #page-table2 {
  margin: 51px 0  0px 853px;
  width: 300px;
  height: 50px;
  background: #666;
}
