.ec-bg {
  width: 100%;
  height: 84px;
  background-color: #f5a94f;
  font-size: 24px;
  font-weight: bold;
  line-height: 84px;
  color: #ffffff;
  text-align: center;
}
.ec-banner {
  width: 100%;
  height: 360px;
  background: url(../../images/read-banner.png);
  background-size: 100% 100%;
}
.ec-banner1 {
  width: 100%;
  height: 360px;
  background: url(../../images/science-banner.png);
  background-size: 100% 100%;
}
.ency {
  width: 100%;
  height: 100%;
}
.ency .ency-h {
  height: 30px;
  font-size: 26px;
  line-height: 30px;
  color: #666666;
  padding-left: 10px;
  margin: 20px 0 33px;
  border-left: 6px solid #f08300;
}
.ency .ency-list {
  width: 851px;
  height: 100%;
  margin: 0 auto;
}
.ency .ency-list li {
  width: 100%;
  height: 175px;
  border-bottom: 2px solid  #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.ency .ency-list li .img {
  width: 306px;
  height: 175px;
}
.ency .ency-list li .img img {
  width: 100%;
  height: 100%;
}
.ency .ency-list li .text {
  width: 500px;
  height: 100%;
}
.ency .ency-list li .text .tit {
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin: 7px 0 3px;
}
.ency .ency-list li .text .content1 {
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  text-indent: 2em;
}
.ency .ency-list li .text .content1 span {
  color: #f08300;
}
.ency #page-table {
  margin: 106px  0 100px 800px;
  width: 300px;
  height: 100px;
}
