.progress {
  height: 100%;
  width: 100%;
}
.progress .progress-c {
  height: 1580px;
  width: 1108px;
  padding: 40px 46px 128px;
}
.progress .progress-c .pro-tit {
  font-size: 38px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-bottom: 33px;
}
.progress .progress-c .pro-list {
  width: 100%;
  height: 1516px;
}
.progress .progress-c .pro-list li {
  float: left;
  height: 100%;
}
.progress .progress-c .pro-list .common {
  height: 165px;
}
.progress .progress-c .pro-list .common .img {
  width: 238px;
  height: 146px;
  float: left;
  margin-top: 17px;
}
.progress .progress-c .pro-list .common .txt {
  width: 270px;
  height: 100%;
  float: right;
  text-align: right;
}
.progress .progress-c .pro-list .common .txt h3 {
  font-size: 38px;
  line-height: 34px;
  color: #333333;
  margin-bottom: 14px;
}
.progress .progress-c .pro-list .common .txt p {
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.progress .progress-c .pro-list .left {
  width: 515px;
}
.progress .progress-c .pro-list .left .l-2018 {
  margin-top: 78px;
}
.progress .progress-c .pro-list .left .l-2018 .img {
  background: url(../../images/aboutus/2018.png);
}
.progress .progress-c .pro-list .left .l-2016 {
  margin-top: 228px;
}
.progress .progress-c .pro-list .left .l-2016 .img {
  background: url(../../images/aboutus/2016.png);
}
.progress .progress-c .pro-list .left .l-2014 {
  margin-top: 246px;
}
.progress .progress-c .pro-list .left .l-2014 .img {
  background: url(../../images/aboutus/2014.png);
}
.progress .progress-c .pro-list .left .l-2011 {
  margin-top: 248px;
}
.progress .progress-c .pro-list .left .l-2011 .img {
  background: url(../../images/aboutus/2011.png);
}
.progress .progress-c .pro-list .right {
  width: 515px;
}
.progress .progress-c .pro-list .right .r-2017 {
  margin-top: 277px;
}
.progress .progress-c .pro-list .right .r-2017 .img {
  float: right;
  background: url(../../images/aboutus/2017.png);
}
.progress .progress-c .pro-list .right .r-2017 .txt {
  float: left;
  text-align: left;
}
.progress .progress-c .pro-list .right .r-2015 {
  margin-top: 230px;
}
.progress .progress-c .pro-list .right .r-2015 .img {
  float: right;
  background: url(../../images/aboutus/2015.png);
}
.progress .progress-c .pro-list .right .r-2015 .txt {
  float: left;
  text-align: left;
}
.progress .progress-c .pro-list .right .r-2013 {
  margin-top: 242px;
}
.progress .progress-c .pro-list .right .r-2013 .img {
  float: right;
  background: url(../../images/aboutus/2013.png);
}
.progress .progress-c .pro-list .right .r-2013 .txt {
  float: left;
  text-align: left;
}
.progress .progress-c .pro-list .center {
  margin: 0 30px;
  width: 18px;
  height: 100%;
  background: url(../../images/aboutus/progress.png);
}
