.progress{
    height:100%;
    width: 100%;
    background: #fcf3ec;
    padding-bottom: 80px;
    .pro-h{
        width: 100%;
        height: 320px;
        background: url(../../images/aboutus/progress2.png);
        position: relative;
        p{
            font-size: 60px;
            line-height: 60px;
            font-family: "华文中宋";
            position: absolute;
            top:230px;
            left: 100px;
        }  
    }
    .pro-list{
        width: 1155px;
        padding-left: 45px;
        height:1516px;
        background: #fff;
        li{
            float: left;   
            height: 100%;
        }
        .common{
            height:165px;
            position: relative;
            .img{
                width: 238px;
                height: 146px;
                margin-top: 17px;
            }
            .txt{
                width: 270px;
                height: 100%;
                text-align: right;
                h3{
                    font-size: 38px;
                    line-height: 34px;
                    color: #333333;
                    margin-bottom: 14px;
                }
                p{
                    font-size: 18px;
                    line-height: 24px;
                    color: #666666;
                }
            }
        }
        .left{
            width: 515px;
            .img{
                position: absolute;
                top: 0;
                left: 0;
                width: 238px;
                height: 146px;
                margin-top: 17px;
            }
            .txt{
                position: absolute;
                top:0;
                right:0;
            }
            .l-2018{
                margin-top: 78px;
                .img{
                    background: url(../../images/aboutus/2018.png);
                    background-size: 100% 100%;
                }
            }
            .l-2016{
                margin-top: 228px;
                .img{
                    background: url(../../images/aboutus/2016.png);
                    background-size: 100% 100%;
                }
            }
            .l-2014{
                margin-top: 246px;
                .img{
                    background: url(../../images/aboutus/2014.png);
                    background-size: 100% 100%;
                }
            }
            .l-2011{
                margin-top: 248px;
                .img{
                    background: url(../../images/aboutus/2011.png);
                    background-size: 100% 100%;
                }
            }
        }
        .right{
            width: 515px;
            .img{
                position: absolute;
                top: 0;
                right: 0;
                width: 238px;
                height: 146px;
                margin-top: 17px;
            }
            .txt{
                position: absolute;
                top:0;
                left:0;
            }
            .r-2017{
                margin-top: 277px;
                .img{
                    background: url(../../images/aboutus/2017.png);
                    background-size: 100% 100%;
                }
                .txt{
                    text-align: left;
                }
            }
            .r-2015{
                margin-top: 230px;
                .img{
                    background: url(../../images/aboutus/2015.png);
                    background-size: 100% 100%;
                }
                .txt{ 
                    text-align: left;
                }
            }
            .r-2013{
                margin-top: 242px;
                .img{
                    background: url(../../images/aboutus/2013.png);
                    background-size: 100% 100%;
                }
                .txt{
                    text-align: left;
                }
            }
        }
        .center{
            margin: 0 30px;
            width: 18px;
            height:100%;
            background: url(../../images/aboutus/progress.png);
        }
    }
    
}


@media screen and (max-width: 1024px) {
    .progress{
        height:100%;
        width: 100%;
        .progress-c{
            height:20.4rem;
            width: 5.5rem;
            padding:.27rem .95rem 0;
            margin: 0 auto;
            .pro-tit{
                font-size: .3rem;
                line-height: .3rem;
                margin-bottom: .30rem;
            }
            .pro-list{
                width: 100%;
                height:19.22rem;
                li{
                    float: left;   
                    height: 100%;
                }
                .common{
                    height:2.4rem;
                    position: relative;
                    .img{
                        width: 2.00rem;
	                    height: 1.20rem;
                        margin-top: 0;
                    }
                    .txt{
                        width: 2.46rem;
                        height: 100%;
                        text-align: right;
                        h3{
                            font-size: .38rem;
                            line-height: .34rem;
                            margin-bottom: .14rem;
                        }
                        p{
                            font-size: .18rem;
                            line-height: .24rem;
                        }
                    }
                }
                .left{
                    width: 2.48rem;
                    .img{
                        position: absolute;
                        top: 1.2rem;
                        left: .5rem;
                        width: 2.00rem;
	                    height: 1.20rem;
                        margin-top: 0;
                    }
                    .txt{
                        position: absolute;
                        top:0;
                        right:0;
                    }
                    .l-2018{
                        margin-top: .4rem;
                    }
                    .l-2016{
                        margin-top: 3rem;
                        .img{
                            margin-top: -.2rem;
                        }
                    }
                    .l-2014{
                        margin-top: 2.6rem;
                        .img{
                            margin-top: .5rem;
                        }
                    }
                    .l-2011{
                        margin-top: 3.45rem;
                        .img{
                            margin-top: -.2rem;
                        }
                    }
                }
                .right{
                    width: 2.48rem;
                    .img{
                        position: absolute;
                        top: 1.5rem;
                        left: 0;
                        width: 2.00rem;
	                    height: 1.20rem;
                        margin-top: 0;
                    }
                    .txt{
                        width: 2.48rem;
                        position: absolute;
                        top:0;
                        right:0;
                    }
                    .r-2017{
                        margin-top: 3.15rem;
                        .img{
                            margin-top: -.25rem;
                        }
                        .txt{
                         
                            text-align: left;
                        }
                    }
                    .r-2015{
                        margin-top:2.8rem;
                        .img{
                            margin-top: -.55rem;
                        }
                        .txt{
                      
                            text-align: left;
                        }
                    }
                    .r-2013{
                        margin-top: 3.2rem;
                        .img{
                            margin-top: -.25rem;
                        }
                        .txt{
                          
                            text-align: left;
                        }
                    }
                }
                .center{
                    margin: 0 .13rem;
                    width: .18rem;
                    height:100%;
                    background: url(../../img/progress.png);
                    background-size: 100% 100%;
                }
            }
        }
    }
}