.skill {
  width: 100%;
  height: 100%;
}
.skill .skill-banner {
  width: 100%;
  height: 368px;
  background: url(../../images/skill-banner.png);
  background-size: 100% 100%;
}
.skill .setup {
  width: 100%;
  height: 422px;
  background: #fff;
}
.skill .setup .setup-h {
  font-size: 38px;
  line-height: 143px;
  color: #333333;
  text-align: center;
}
.skill .setup .setup-list {
  width: 492px;
  margin: 0 auto;
}
.skill .setup .setup-list li {
  width: 180px;
  float: left;
}
.skill .setup .setup-list li:first-child {
  margin-right: 130px;
}
.skill .setup .setup-list li .icon {
  width: 180px;
  height: 180px;
  border-radius: 47px;
  border: solid 1px #dcdcdc;
}
.skill .setup .setup-list li .icon p {
  width: 85px;
  height: 85px;
  margin: 48px 45px;
  position: relative;
}
.skill .setup .setup-list li .icon p img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.skill .setup .setup-list li .txt {
  font-size: 24px;
  line-height: 59px;
  color: #666666;
  text-align: center;
}
.skill .method {
  width: 100%;
  height: 540px;
  background: #f9f9f9;
  padding-top: 10px;
}
.skill .method .method-h {
  font-size: 26px;
  color: #666666;
  text-align: center;
  line-height: 93px;
}
.skill .method .method-h b {
  font-size: 30px;
}
.skill .method .method-h b span {
  color: #f08300;
  font-weight: bold;
}
.skill .method .method-c {
  position: relative;
}
.skill .method .method-c .method-bg {
  width: 678px;
  height: 398px;
  margin: 0 auto;
  background: url(../../images/method-bg.png);
  background-size: 100% 100%;
}
.skill .method .method-c .frist {
  width: 256px;
  text-align: right;
  position: absolute;
  top: 140px;
  left: 0px;
}
.skill .method .method-c .frist .tit {
  font-size: 24px;
  line-height: 44px;
  color: #333333;
}
.skill .method .method-c .frist .txt {
  font-size: 18px;
  line-height: 24px;
  color: #999999;
}
.skill .method .method-c .second {
  width: 245px;
  position: absolute;
  top: 309px;
  left: 680px;
  text-align: left;
}
.skill .method .method-c .third {
  position: absolute;
  top: 19px;
  left: 948px;
  text-align: left;
}
.skill .training {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.skill .training .training-h {
  font-size: 26px;
  color: #666666;
  text-align: center;
  line-height: 108px;
}
.skill .training .training-h b {
  font-size: 30px;
}
.skill .training .training-h span {
  font-weight: bold;
  color: #f08300;
}
.skill .training .training-tit {
  width: 429px;
  height: 49px;
  font-size: 24px;
  font-weight: bold;
  line-height: 49px;
  color: #f08300;
  text-align: center;
  margin: 0 auto  57px;
  background-color: #ffffff;
  box-shadow: 4px 6px 0px 0px #f9cf9c;
  border: solid 1px #f9cf9c;
}
.skill .training .comment-h {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
  border-left: 8px solid #ff447a;
  text-indent: 10px;
}
.skill .training .motive {
  padding-bottom: 53px;
}
.skill .training .motive .motive-tit {
  width: 858px;
  font-size: 26px;
  line-height: 35px;
  color: #666666;
  margin: 57px 0 0 170px;
}
.skill .training .motive .motive-bg {
  width: 1023px;
  height: 353px;
  margin-left: 90px;
}
.skill .training .motive .motive-bg img {
  width: 100%;
  height: 100%;
}
.skill .training .unders {
  width: 100%;
  height: 768px;
  padding-top: 60px;
  background: url(../../images/unders-bg.png);
  background-size: 100% 100%;
}
.skill .training .unders .unders-tit {
  width: 751px;
  font-size: 26px;
  line-height: 35px;
  color: #666666;
  margin: 50px 0 0 225px;
}
.skill .training .unders .unders-list {
  width: 630px;
  height: 100%;
  margin: 79px auto 0;
  color: #ffffff;
  position: relative;
}
.skill .training .unders .unders-list li {
  position: absolute;
}
.skill .training .unders .unders-list .u1 {
  width: 180px;
  height: 113px;
  padding-top: 67px;
  background: url(../../images/unders-bg2.png);
  background-size: 100% 100%;
  top: 0px;
  left: 56px;
}
.skill .training .unders .unders-list .u1 h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}
.skill .training .unders .unders-list .u1 p {
  font-size: 16px;
  text-align: center;
}
.skill .training .unders .unders-list .u2 {
  background: url(../../images/unders-bg5.png);
  background-size: 100% 100%;
  top: 145px;
  left: 0px;
}
.skill .training .unders .unders-list .u3 {
  background: url(../../images/unders-bg6.png);
  background-size: 100% 100%;
  top: 234px;
  left: 105px;
}
.skill .training .unders .unders-list .u4 {
  width: 270px;
  height: 160px;
  padding-top: 110px;
  background: url(../../images/unders-bg3.png);
  background-size: 100% 100%;
  top: 48px;
  left: 155px;
}
.skill .training .unders .unders-list .u5 {
  background: url(../../images/unders-bg7.png);
  background-size: 100% 100%;
  top: 300px;
  left: 238px;
}
.skill .training .unders .unders-list .u6 {
  width: 203px;
  height: 124px;
  padding-top: 79px;
  background: url(../../images/unders-bg4.png);
  background-size: 100% 100%;
  top: 189px;
  left: 330px;
}
.skill .training .unders .unders-list .u7 {
  background: url(../../images/unders-bg9.png);
  background-size: 100% 100%;
  top: 0px;
  left: 352px;
}
.skill .training .unders .unders-list .u8 {
  background: url(../../images/unders-bg8.png);
  background-size: 100% 100%;
  top: 97px;
  left: 450px;
}
.skill .training .technique {
  width: 100%;
  height: 367px;
  padding-top: 60px;
  background-color: #ffffff;
}
.skill .training .technique .technique-tit {
  width: 918px;
  font-size: 26px;
  line-height: 35px;
  color: #666666;
  margin: 50px 0 0 95px;
}
.skill .training .technique .technique-list {
  width: 1020px;
  margin: 44px auto 0;
  overflow: hidden;
}
.skill .training .technique .technique-list ul {
  width: 1040px;
}
.skill .training .technique .technique-list li {
  float: left;
  width: 240px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background-color: #ffa452;
  border-radius: 26px;
  font-size: 18px;
  margin: 0 20px 10px 0;
  color: #ffffff;
}
.skill .training .technique .technique-list li b {
  font-size: 24px;
  font-weight: bold;
}
.skill .training .technique .technique-list li span {
  font-size: 24px;
}
.skill .training .technique .technique-list .odd {
  background-color: #ffa452;
}
.skill .training .technique .technique-list .even {
  background-color: #ff7901;
}
.skill .training .way {
  height: 636px;
  padding-top: 41px;
  width: 100%;
  background: #f9f9f9;
}
.skill .training .way .way-tit {
  width: 347px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  margin: 0 auto 48px;
  background-color: #ffffff;
  box-shadow: 4px 6px 0px 0px #f6cb98;
  border: solid 1px #f9cf9c;
  font-size: 24px;
  font-weight: bold;
  color: #f08300;
}
.skill .training .way .way-tit2 {
  width: 1000px;
  height: 85px;
  padding-top: 15px;
  background: url(../../images/way-bg.png);
  background-size: 100% 100%;
  margin: 30px 0 0 100px;
}
.skill .training .way .way-tit2 p {
  width: 780px;
  font-size: 26px;
  line-height: 35px;
  color: #666666;
  margin-left: 116px;
}
.skill .training .way .way-list {
  width: 100%;
  height: 310px;
  margin-top: 29px;
  overflow: hidden;
}
.skill .training .way .way-list ul {
  width: 1224px;
}
.skill .training .way .way-list li {
  width: 180px;
  height: 100%;
  float: left;
  margin-right: 24px;
}
.skill .training .way .way-list li .img {
  width: 147px;
  height: 174px;
  margin-left: 15px;
}
.skill .training .way .way-list li .img img {
  width: 100%;
  height: 100%;
}
.skill .training .way .way-list li div {
  font-size: 24px;
  line-height: 35px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
}
.skill .training .way .way-list li p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-align: center;
}
.skill .training .way .way-list .mt {
  margin-top: 11px;
}
.skill .training .way .way-list .mt .img {
  width: 147px;
  height: 164px;
  margin-left: 15px;
}
.skill .training .way .way-list .mt .img img {
  width: 100%;
  height: 100%;
}
.skill .training .point {
  height: 997px;
  width: 100%;
}
.skill .training .point .point-h {
  font-size: 38px;
  line-height: 124px;
  color: #333333;
  text-align: center;
}
.skill .training .point .point-c {
  width: 605px;
  height: 387px;
  background: url(../../images/point-line.png);
  background-size: 100% 100%;
  margin: 113px auto 0;
  position: relative;
}
.skill .training .point .point-c li {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
}
.skill .training .point .point-c li span {
  display: block;
  margin: 26px auto 0;
}
.skill .training .point .point-c li div {
  font-size: 28px;
  font-weight: bold;
  line-height: 52px;
  color: #ffffff;
}
.skill .training .point .point-c li p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.skill .training .point .point-c .p1 {
  top: -113px;
  left: -88px;
  background-color: #00b8e9;
  box-shadow: 0px 6px 0px 0px 
                        #62ddfe;
}
.skill .training .point .point-c .p1 span {
  width: 50px;
  height: 48px;
  background: url(../../images/p1.png);
  background-size: 100% 100%;
}
.skill .training .point .point-c .p2 {
  top: -113px;
  right: -88px;
  background-color: #fd64a9;
  box-shadow: 0px 6px 0px 0px 
                                #ff82ba;
}
.skill .training .point .point-c .p2 span {
  width: 49px;
  height: 51px;
  background: url(../../images/p3.png);
  background-size: 100% 100%;
}
.skill .training .point .point-c .p3 {
  top: 187px;
  left: 178px;
  background-color: #a7dd3d;
  box-shadow: 0px 6px 0px 0px 
                        #cefb74;
}
.skill .training .point .point-c .p3 span {
  width: 49px;
  height: 47px;
  background: url(../../images/p2.png);
  background-size: 100% 100%;
  margin-top: 74px;
}
.skill .training .point .point-c .p4 {
  width: 144px;
  height: 58px;
  font-size: 24px;
  line-height: 33px;
  color: #999999;
  position: absolute;
  top: 85px;
  left: 230px;
}
.skill .training .point .point-list {
  width: 586px;
  margin: 66px auto 0;
  position: relative;
}
.skill .training .point .point-list li {
  position: absolute;
  width: 218px;
  height: 242px;
  background: url(../../images/p4.png);
  background-size: 100% 100%;
  text-align: center;
}
.skill .training .point .point-list li p {
  width: 53px;
  font-size: 26px;
  line-height: 22px;
  color: #9ed336;
  padding-bottom: 7px;
  border-bottom: 4px solid #82c821;
  margin: 56px auto 10px;
}
.skill .training .point .point-list li div {
  font-size: 18px;
  line-height: 22px;
  color: #9ed336;
}
.skill .training .point .point-list .li1 {
  left: 0;
}
.skill .training .point .point-list .li2 {
  left: 183px;
  z-index: 1000;
}
.skill .training .point .point-list .li3 {
  right: 0;
}
.skill .training .result {
  height: 1375px;
  width: 100%;
  position: relative;
}
.skill .training .result .result-bg {
  width: 100%;
  height: 862px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../images/result-bg.png);
  background-size: 100% 100%;
}
.skill .training .result .result-c {
  position: absolute;
  z-index: 1000;
  padding-top: 18px;
  left: 50%;
  margin-left: -600px;
}
.skill .training .result .result-c .res-h {
  font-size: 38px;
  line-height: 96px;
  color: #333333;
  text-align: center;
}
.skill .training .result .result-c .res-c {
  height: 1025px;
  padding-top: 40px;
  background-color: #ffffff;
}
.skill .training .result .result-c .res-c .res-img {
  width: 800px;
  height: 684px;
  margin: 0 auto;
}
.skill .training .result .result-c .res-c .res-img img {
  width: 100%;
  height: 100%;
}
.skill .training .result .result-c .res-c .res-t {
  width: 1106px;
  height: 446px;
  margin: 39px auto 0;
  background: url(../../images/result-t.png);
  background-size: 100% 100%;
}
#back {
  display: none;
  /* 默认隐藏 */
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url(../../images/back.png);
  background-size: 100% 100%;
}
@media screen and (max-width: 1024px) {
  .course-header {
    display: none;
  }
  .skill .skill-banner {
    height: 3.68rem;
    background: url(../../img/skill-banner.png);
    background-size: 100% 100%;
  }
  .skill .setup {
    height: 3.18rem;
  }
  .skill .setup .setup-h {
    font-size: .3rem;
    line-height: .7rem;
    margin-top: .1rem;
  }
  .skill .setup .setup-list {
    width: 4.92rem;
  }
  .skill .setup .setup-list li {
    width: 1.80rem;
  }
  .skill .setup .setup-list li:first-child {
    margin-right: 1.18rem;
  }
  .skill .setup .setup-list li .icon {
    width: 1.80rem;
    height: 1.80rem;
    border-radius: .47rem;
  }
  .skill .setup .setup-list li .icon p {
    width: .84rem;
    height: .90rem;
    margin: .48rem .45rem;
  }
  .skill .setup .setup-list li .txt {
    font-size: .24rem;
    line-height: .59rem;
  }
  .skill .method {
    height: 3.72rem;
    padding-top: .10rem;
  }
  .skill .method .method-h {
    font-size: .2rem;
    line-height: .66rem;
  }
  .skill .method .method-h b {
    font-size: .26rem;
  }
  .skill .method .method-c .method-bg {
    width: 3.97rem;
    height: 2.84rem;
    background: url(../../img/method-bg.png);
    background-size: 100% 100%;
  }
  .skill .method .method-c .frist {
    width: 1.65rem;
    top: .76rem;
  }
  .skill .method .method-c .frist .tit {
    font-size: .2rem;
    line-height: .44rem;
  }
  .skill .method .method-c .frist .txt {
    font-size: .14rem;
    line-height: .24rem;
  }
  .skill .method .method-c .second {
    width: 1.8rem;
    top: 2.09rem;
    left: 4.58rem;
  }
  .skill .method .method-c .third {
    top: .19rem;
    left: 5.7rem;
  }
  .skill .training {
    padding-top: 0;
  }
  .skill .training .training-h {
    font-size: .2rem;
    line-height: .66rem;
    margin-top: .1rem;
  }
  .skill .training .training-h b {
    font-size: .26rem;
  }
  .skill .training .training-tit {
    width: 4.29rem;
    height: .49rem;
    font-size: .24rem;
    line-height: .49rem;
    margin: 0 auto  .3rem;
    background-color: #ffffff;
    box-shadow: .04rem .06rem 0px 0px #f9cf9c;
    border: solid 1px #f9cf9c;
  }
  .skill .training .comment-h {
    font-size: .22rem;
    line-height: .30rem;
    border-left: .06rem solid #ff447a;
    text-indent: .06rem;
  }
  .skill .training .motive {
    padding-bottom: .3rem;
  }
  .skill .training .motive .motive-tit {
    width: 6.6rem;
    font-size: .2rem;
    line-height: .26rem;
    margin: .15rem 0 0 .30rem;
  }
  .skill .training .motive .motive-bg {
    width: 100%;
    height: 2.53rem;
    margin-left: 0;
    margin-top: .2rem;
  }
  .skill .training .unders {
    height: 6.32rem;
    padding-top: .3rem;
  }
  .skill .training .unders .unders-tit {
    width: 5.77rem;
    font-size: .2rem;
    line-height: .26rem;
    margin: .16rem 0 0 .62rem;
  }
  .skill .training .unders .unders-list {
    width: 6.30rem;
    margin: .22rem auto 0;
  }
  .skill .training .unders .unders-list .u1 {
    width: 1.80rem;
    height: 1.13rem;
    padding-top: .67rem;
    top: 0px;
    left: .56rem;
  }
  .skill .training .unders .unders-list .u1 h3 {
    font-size: .26rem;
    line-height: .32rem;
  }
  .skill .training .unders .unders-list .u1 p {
    font-size: .16rem;
  }
  .skill .training .unders .unders-list .u2 {
    top: 1.45rem;
    left: 0px;
  }
  .skill .training .unders .unders-list .u3 {
    top: 2.34rem;
    left: 1.05rem;
  }
  .skill .training .unders .unders-list .u4 {
    width: 2.70rem;
    height: 1.60rem;
    padding-top: 1.10rem;
    top: .48rem;
    left: 1.55rem;
  }
  .skill .training .unders .unders-list .u5 {
    top: 3.00rem;
    left: 2.38rem;
  }
  .skill .training .unders .unders-list .u6 {
    width: 2.03rem;
    height: 1.24rem;
    padding-top: .79rem;
    top: 1.89rem;
    left: 3.30rem;
  }
  .skill .training .unders .unders-list .u7 {
    top: 0px;
    left: 3.52rem;
  }
  .skill .training .unders .unders-list .u8 {
    top: .97rem;
    left: 4.50rem;
  }
  .skill .training .technique {
    height: 3.64rem;
    padding-top: .3rem;
  }
  .skill .training .technique .technique-tit {
    width: 7.2rem;
    font-size: .2rem;
    line-height: .2rem;
    margin: .17rem 0 0 .17rem;
  }
  .skill .training .technique .technique-list {
    width: 5.4rem;
    margin: .2rem auto 0;
  }
  .skill .training .technique .technique-list ul {
    width: 6rem;
  }
  .skill .training .technique .technique-list li {
    width: 2.40rem;
    height: .54rem;
    line-height: .54rem;
    border-radius: .26rem;
    font-size: .18rem;
    margin: 0 .6rem .10rem 0;
  }
  .skill .training .technique .technique-list li b {
    font-size: .24rem;
  }
  .skill .training .technique .technique-list li span {
    font-size: .24rem;
  }
  .skill .training .way {
    height: 8.7rem;
    padding-top: .2rem;
  }
  .skill .training .way .way-tit {
    width: 3.47rem;
    height: .49rem;
    line-height: .49rem;
    margin: 0 auto .2rem;
    box-shadow: .04rem .06rem 0px 0px #f6cb98;
    border: solid 1px #f9cf9c;
    font-size: .24rem;
  }
  .skill .training .way .way-tit2 {
    width: 7.3rem;
    height: .85rem;
    padding-top: .15rem;
    margin: .1rem 0 0 0 ;
  }
  .skill .training .way .way-tit2 p {
    width: 6.5rem;
    font-size: .2rem;
    line-height: .35rem;
    margin-left: .6rem;
  }
  .skill .training .way .way-list {
    width: 6rem;
    height: 6.05rem;
    margin: .1rem auto 0;
  }
  .skill .training .way .way-list ul {
    width: 6.24rem;
  }
  .skill .training .way .way-list li {
    width: 1.84rem;
    margin-right: .24rem;
    margin-bottom: .1rem;
  }
  .skill .training .way .way-list li .img {
    width: 1.47rem;
    height: 1.74rem;
    margin-left: .15rem;
  }
  .skill .training .way .way-list li .img img {
    width: 100%;
    height: 100%;
  }
  .skill .training .way .way-list li div {
    font-size: .24rem;
    line-height: .3rem;
    margin-top: .10rem;
  }
  .skill .training .way .way-list li p {
    font-size: .16rem;
    line-height: .23rem;
  }
  .skill .training .way .way-list .mt {
    margin-top: .11rem;
  }
  .skill .training .way .way-list .mt .img {
    width: 1.47rem;
    height: 1.64rem;
    margin-left: .15rem;
  }
  .skill .training .way .way-list .mt .img img {
    width: 100%;
    height: 100%;
  }
  .skill .training .point {
    height: 8.75rem;
  }
  .skill .training .point .point-h {
    font-size: .30rem;
    line-height: .9rem;
  }
  .skill .training .point .point-c {
    width: 3.8rem;
    height: 2.39rem;
    margin: 1.03rem auto 0;
    background: url(../../img/point-line.png);
    background-size: 100% 100%;
  }
  .skill .training .point .point-c li {
    width: 2.3rem;
    height: 2.3rem;
  }
  .skill .training .point .point-c li span {
    margin: .22rem auto 0;
  }
  .skill .training .point .point-c li div {
    font-size: .28rem;
    line-height: .52rem;
  }
  .skill .training .point .point-c li p {
    font-size: .18rem;
    line-height: .22rem;
  }
  .skill .training .point .point-c .p1 {
    top: -1.03rem;
    left: -1.39rem;
    box-shadow: 0 0.06rem 0 0
                        #62ddfe;
  }
  .skill .training .point .point-c .p1 span {
    width: .50rem;
    height: .48rem;
  }
  .skill .training .point .point-c .p2 {
    top: -1.03rem;
    right: -1.39rem;
    box-shadow: 0 0.06rem 0 0 
                                #ff82ba;
  }
  .skill .training .point .point-c .p2 span {
    width: .49rem;
    height: .51rem;
  }
  .skill .training .point .point-c .p3 {
    top: 1.67rem;
    left: .72rem;
    box-shadow: 0 0.06rem 0 0  
                        #cefb74;
  }
  .skill .training .point .point-c .p3 span {
    width: .49rem;
    height: .47rem;
    margin-top: .7rem;
  }
  .skill .training .point .point-c .p4 {
    width: 1.6rem;
    height: .58rem;
    font-size: .24rem;
    line-height: .33rem;
    top: .85rem;
    left: 1.18rem;
  }
  .skill .training .point .point-list {
    width: 5.86rem;
    margin: 1.70rem auto 0;
  }
  .skill .training .point .point-list li {
    width: 2.18rem;
    height: 2.42rem;
  }
  .skill .training .point .point-list li p {
    width: .53rem;
    font-size: .26rem;
    line-height: .22rem;
    padding-bottom: .07rem;
    border-bottom: 0.04rem solid #82c821;
    margin: .56rem auto .10rem;
  }
  .skill .training .point .point-list li div {
    font-size: .18rem;
    line-height: .22rem;
  }
  .skill .training .point .point-list .li2 {
    left: 1.83rem;
    z-index: 1000;
  }
  .skill .training .result {
    height: 12.25rem;
  }
  .skill .training .result .result-bg {
    width: 100%;
    height: 8.62rem;
  }
  .skill .training .result .result-c {
    padding-top: .1rem;
    margin-left: -3.65rem;
  }
  .skill .training .result .result-c .res-h {
    font-size: .3rem;
    line-height: .7rem;
  }
  .skill .training .result .result-c .res-c {
    height: 10.86rem;
    padding-top: .2rem;
  }
  .skill .training .result .result-c .res-c .res-img {
    width: 7.30rem;
    height: 6.49rem;
  }
  .skill .training .result .result-c .res-c .res-t {
    width: 7.3rem;
    height: 3.78rem;
    margin: .4rem auto 0;
    background: url(../../img/result-t.png);
    background-size: 100% 100%;
  }
  #back {
    bottom: .08rem;
    right: .20rem;
    z-index: 1500;
    width: .5rem;
    height: .5rem;
  }
}
