
.state-bg{
    width: 100%;
	height: 48px;
	background-color: #f08300;
}
.state{
    width:100%;
    height:100%;
    
    .sta-h{
        width:100%;
        height:20px;
        line-height: 22px;
        position: relative;
        margin-top: 22px;
        span,b,a,i{
            height: 22px;
            line-height: 22px; 
            font-size: 16px;
            display: inline-block;
            // position: absolute;
        }
        span{
            // position: absolute;
            top:0px;
            width: 22px; 
            background: url(../../images/home.png);
            background-size: 100% 100%;
        }
        b,a{ 
            color: #666666;
        }
        b{
            text-indent:30px;
        }
        i{
	        color: #f08300;
        }
    }
    .sta-list{
        li{
           width: 851px;
           border-bottom: 2px solid #e5e5e5; 
           margin: 29px auto 0;
           padding-bottom:10px;
           
        }
        .img{
            width: 322px;
            height: 179px;
            img{
                width:100%;
                height:100%;
            }
        }
        .text{
            width:506px;
            height: 179px;
            position: relative;
            .tit{
                font-size: 20px;
                line-height: 25px;
                color: #333333;
                margin: 9px 0 10px;
            }
            .content1{
                font-size: 16px;
                line-height: 26px;
                color: #666666;
                text-indent:2em;
                span{
                    color: #f08300;
                    letter-spacing: -4px;
                    font-size: 14px;
                }
            }
            .time{
                font-size: 14px;
                color: #999999;
                position: absolute;
                bottom:0;
                right:0;
            }
        }
    }
    #page-table{
        margin: 130px 0  111px 676px;
        width: 300px;
        height:50px;
    }

}

@media screen and (max-width: 1024px) {
    .state-bg{
        height: .48rem;
    }
    .state{
        width:100%;
        height:100%;
        
        .sta-h{
            height:.20rem;
            line-height: .22rem;
            margin-top: .2rem;
            span,b,a,i{
                
                height: .22rem;
                line-height: .22rem; 
                font-size: .16rem;
            }
            span{
                width: .18rem;
                height: .2rem; 
                background: url(../../images/home.png);
                background-size: 100% 100%;
            }
            b{
                text-indent:.30rem;
            }
        }
        .sta-list{
            li{
               width: 851px;
               border-bottom: 2px solid #e5e5e5; 
               margin: 29px auto 0;
               padding-bottom:10px;
               
            }
            .img{
                width: 322px;
                height: 179px;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .text{
                width:506px;
                height: 179px;
                position: relative;
                .tit{
                    font-size: 20px;
                    line-height: 25px;
                    color: #333333;
                    margin: 9px 0 10px;
                }
                .content1{
                    font-size: 16px;
                    line-height: 26px;
                    color: #666666;
                    text-indent:2em;
                    span{
                        color: #f08300;
                        letter-spacing: -4px;
                        font-size: 14px;
                    }
                }
                .time{
                    font-size: 14px;
                    color: #999999;
                    position: absolute;
                    bottom:0;
                    right:0;
                }
            }
        }
        #page-table{
            margin: 130px 0  111px 676px;
            width: 300px;
            height:50px;
        }
    
    }
    
}