@import '../public/reset.css';
.sta-con{
    width:950px;
    height:90px;
    border-bottom: 1px solid #e2e1df;
    margin:47px auto 0;
    .title{
        font-size: 24px;
        line-height: 16px;
        color: #666666;
        margin: 38px 0 20px;
        text-align: center;
    }
    .time{
        font-size: 16px;
        color: #999999;
        text-align: center;
    }
}
.sta-list{
    padding: 14px 81px 140px;
    height: 100%;
    font-size: 16px;
	line-height: 33px;
    color: #2e1616;
    text-indent:2em;
}