.vol-bg {
  width: 100%;
  height: 60px;
  background-color: #ff8d9a;
}
.c-title {
  width: 600px;
  height: 56px;
  margin: 0 auto;
}
.c-title .title {
  display: block;
  width: 298px;
  height: 56px;
  border: 1px solid #e94f65;
  border-bottom: none;
  font-size: 18px;
  line-height: 56px;
  color: #333333;
  text-align: center;
  background-color: #e94f65;
}
.c-title .show {
  color: #e94f65;
  font-weight: bold;
  border: 1px solid #e94f65;
  border-bottom: none;
  background-color: #fff;
}
.c-content {
  width: 100%;
  height: 100%;
  background: #fff;
  border-top: 1px solid #e94f65;
}
.c-content .tab2 {
  width: 800px;
  margin: 10px auto 0;
  position: relative;
}
.c-content .tab2 li {
  float: left;
  padding: 10px 26px;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.c-content .tab2 .tab_on {
  box-shadow: 1px 1px 0px 0px 
                #e94f65;
  border-radius: 19px;
  border: solid 1px #e94f65;
  color: #e94f65;
}
.c-content .tab2 p {
  width: 2px;
  height: 26px;
  background-color: #e71f19;
  position: absolute;
  top: 10px;
}
.c-content .tab2 .f1 {
  left: 264px;
}
.c-content .tab2 .f2 {
  left: 487px;
}
.c-content .tab2 .w2 {
  margin: 0 30px;
  text-align: center;
}
.c-content .content1 {
  width: 1000px;
  height: 1500px;
  margin: 45px auto 0;
}
.c-content .content1 div {
  display: none;
}
.c-content .content1 .on2 {
  display: block;
}
.entry {
  width: 746px;
  height: 665px;
  margin: 65px auto 0;
  position: relative;
}
.entry .theader {
  font-size: 38px;
  line-height: 93px;
  color: #333333;
  text-align: center;
}
.entry .tbody {
  width: 100%;
  height: 100%;
}
.entry .tbody .th-bg {
  width: 100%;
  height: 38px;
  background: #f08695;
}
.entry .tbody .table {
  border-right: 1px solid #aaa3a7;
  border-bottom: 1px solid #aaa3a7;
  margin-bottom: 10px;
}
.entry .tbody .table .even {
  background: #fdf3fb;
}
.entry .tbody .table .even input {
  background: #fdf3fb;
}
.entry .tbody .table .odd {
  background: #fff;
}
.entry .tbody .table .odd input {
  background: #fff;
}
.entry .tbody .table .w1 {
  width: 150px;
}
.entry .tbody .table .w2 {
  width: 227px;
}
.entry .tbody .table td {
  border-left: 1px solid #aaa3a7;
  border-top: 1px solid #aaa3a7;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  color: #333333;
}
.entry .tbody .table td span {
  color: red;
}
.entry .tbody .table td input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #999;
  text-align: center;
}
.entry .tbody p {
  font-size: 16px;
  color: #e94f65;
}
.entry .tbody .submit {
  width: 202px;
  height: 40px;
  background-color: #e94f65;
  box-shadow: 2px 3px 0px 0px rgba(233, 79, 101, 0.29);
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  display: block;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -101px;
}
