iframe {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px 0 ;
  font-size: 16px;
}
.header .header-c {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
.header .header-c .logo {
  width: 166px;
  height: 66px;
  background: url(../../images/logo.png);
}
.header .header-c .nav {
  width: 721px;
  margin-left: 50px;
  height: 100%;
  padding-top: 32px;
  font-size: 18px;
}
.header .header-c .nav li {
  float: left;
  margin-left: 42px;
  position: relative;
  height: 30px;
  cursor: pointer;
}
.header .header-c .nav li:first-child {
  margin-left: 0px;
}
.header .header-c .nav li .title {
  color: #333;
}
.header .header-c .nav li .menu {
  width: 110px;
  margin-top: 10px;
  background-color: #fa8d0a;
  border-radius: 6px;
  left: 50%;
  margin-left: -55px;
  position: absolute;
  z-index: 1001;
  top: 20px;
  padding: 10px 0;
  text-align: center;
  display: none;
}
.header .header-c .nav li .menu a {
  width: 110px;
  display: block;
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  border-top: 1px solid #f08300;
}
.header .header-c .nav li .menu a:first-child {
  border-top: none;
}
.header .header-c .nav li .menu a:hover {
  background: #fcb45f;
}
.header .header-c .nav li .line {
  width: 48px;
  height: 4px;
  background: #f08300;
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -24px;
}
.header .header-c .nav li a {
  font-size: 16px;
  color: #333333;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.header .header-c .nav li:hover .menu {
  display: block;
}
.header .header-c .nav .active .title {
  color: #f08300;
  font-weight: bold;
}
.header .header-c .nav .on {
  width: 48px;
  border-bottom: 4px solid   #f08300;
}
.header .header-c .contact {
  width: 225px;
  height: 41px;
}
.header .header-c .contact p {
  font-size: 18px;
  line-height: 24px;
  color: #666666;
  text-align: center;
}
.header .header-c .contact .consult {
  width: 155px;
  height: 31px;
  background: #ef8200;
  color: #fff;
  border-radius: 10px;
  font-size: 23px;
  line-height: 31px;
  margin: 0 auto  8px;
}
.header .header-c .contact .blue {
  font-family: Arial;
  font-size: 30px;
  line-height: 27px;
  color: #000000;
}
.header .header-c .contact .blue span {
  width: 23px;
  height: 24px;
  display: inline-block;
  background: url(../../images/2.png);
  margin-right: 7px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: .1rem;
    opacity: 0;
  }
  .content {
    width: 7.3rem;
    height: 100%;
    margin: 0 auto;
  }
  body {
    background: #fff;
  }
  .m-header {
    width: 7.3rem;
    margin: 0 auto;
    height: .66rem;
    padding: .14rem 0;
  }
  .m-header .h-left {
    width: .55rem;
    height: .47rem;
    margin-top: .1rem;
    background: url(../../img/index/nav.png);
    background-size: 100% 100%;
  }
  .m-header .logo {
    width: 1.18rem;
    height: .58rem;
    background: url(../../img/index/logo.png);
    background-size: 100% 100%;
    margin: 0.05rem 0 0 2rem;
  }
  .m-header .h-right {
    height: .38rem;
    font-size: .20rem;
    line-height: .26rem;
    color: #666666;
    margin-top: .12rem;
  }
  .m-header .h-right .two {
    color: #00b8e9;
    font-weight: bold;
  }
  .m-header .m-nav {
    width: 4rem;
    background: #f39800;
    position: fixed;
    top: 0;
    left: 0;
    font-size: .3rem;
    display: none;
    z-index: 3000;
  }
  .m-header .m-nav .list1 {
    background: #f39800;
    width: 100%;
    padding: .22rem 0;
    border-bottom: 1px solid #e1910b;
    font-size: .3rem;
    color: #f7f7f7;
    text-indent: .3rem;
    position: relative;
    line-height: .45rem;
    transition: background 0.5s;
  }
  .m-header .m-nav .list1 a {
    color: #f7f7f7;
  }
  .m-header .m-nav .list1 span {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
  .m-header .m-nav .list1 .list2 {
    overflow: hidden;
    max-height: 0;
    height: auto;
    font-size: .26rem;
    line-height: .45rem;
    transition: all 0.5s;
  }
  .m-header .m-nav .list1 .list2 a {
    color: #ffecda;
    font-size: .26rem;
    display: block;
    width: 100%;
  }
  .m-header .m-nav .list1 div {
    width: .36rem;
    height: .36rem;
    position: absolute;
    top: .2rem;
    right: .2rem;
    background: url(../../img/index/close.png);
    background-size: 100% 100%;
  }
  .m-header .m-nav .list1 i {
    width: .33rem;
    height: .18rem;
    position: absolute;
    top: .26rem;
    right: .16rem;
    background: url(../../img/index/jt.png);
    background-size: 100% 100%;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .m-header .m-nav .active {
    background: #f5a94f;
  }
  .m-header .m-nav .active .list2 {
    max-height: 280px;
    height: auto;
  }
  .m-header .m-nav .active i {
    transform: rotate(180deg);
  }
}
