html {
  font-size: .1rem;
}
body {
  background: #fff;
}
.m-header {
  width: 7.3rem;
  margin: 0 auto;
  height: .66rem;
  padding: .14rem 0;
}
.m-header .h-left {
  width: .55rem;
  height: .47rem;
  margin-top: .1rem;
  background: url(../../img/index/nav.png);
  background-size: 100% 100%;
}
.m-header .logo {
  width: 1.18rem;
  height: .58rem;
  background: url(../../img/index/logo.png);
  background-size: 100% 100%;
  margin: 0.05rem 0 0 2rem;
}
.m-header .h-right {
  height: .38rem;
  font-size: .20rem;
  line-height: .26rem;
  color: #666666;
  margin-top: .12rem;
}
.m-header .h-right .two {
  color: #00b8e9;
  font-weight: bold;
}
.m-header .nav {
  width: 4rem;
  background: #f39800;
  position: fixed;
  top: 0;
  left: 0;
  font-size: .3rem;
  display: none;
  z-index: 2000;
}
.m-header .nav .list1 {
  background: #f39800;
  width: 100%;
  padding: .22rem 0;
  border-bottom: 1px solid #e1910b;
  font-size: .3rem;
  color: #f7f7f7;
  text-indent: .3rem;
  position: relative;
  line-height: .45rem;
  transition: background 0.5s;
}
.m-header .nav .list1 a {
  color: #f7f7f7;
}
.m-header .nav .list1 span {
  width: 100%;
  height: 100%;
  display: block;
}
.m-header .nav .list1 .list2 {
  overflow: hidden;
  max-height: 0;
  height: auto;
  font-size: .26rem;
  line-height: .45rem;
  transition: all 0.5s;
}
.m-header .nav .list1 .list2 a {
  color: #ffecda;
  font-size: .26rem;
  display: block;
  width: 100%;
}
.m-header .nav .list1 div {
  width: .36rem;
  height: .36rem;
  position: absolute;
  top: .2rem;
  right: .2rem;
  background: url(../../img/index/close.png);
  background-size: 100% 100%;
}
.m-header .nav .list1 i {
  width: .33rem;
  height: .18rem;
  position: absolute;
  top: .26rem;
  right: .16rem;
  background: url(../../img/index/jt.png);
  background-size: 100% 100%;
  transform: rotate(0);
  transition: all 0.5s;
}
.m-header .nav .active {
  background: #f5a94f;
}
.m-header .nav .active .list2 {
  max-height: 280px;
  height: auto;
}
.m-header .nav .active i {
  transform: rotate(180deg);
}
